<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <title>Biosferra</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!-- Custom css -->
        <link rel="stylesheet" type="text/css" href="{% static "css/profile_page_front.css" %}">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="{% static "images/brand.png" %}" />
        <style>
            .dropdown-item{
                color:#6C6C6C;
            }
                    .dropdown-item:hover{
            color:#fff;
        }
            .path-44 {
                box-sizing: border-box;
                height: 1px;
                width: 170px;
                border: 1px solid #1CC661;
            }

            a:hover{
                color:#1CC661;
            }

            a:link {
                text-decoration: none;
            }

            @media only screen and (max-width: 600px) {
                .navbar li img{
                    padding-left: 5px;
                    padding-top: 7px;
                }
            }

            @media only screen and (min-width: 601px) {
                .navbar  li img{
                    padding-left: 50px;
                    padding-top: 7px;
                }
            }
        </style>
    </head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container"  style="padding-left: 2%">
        <div class="navbar-brand" style="margin-right: 18rem;">
            <div class="row" style="flex-wrap: nowrap;">
                <a  href="/"><img src="{% static "images/brand.png" %}"></a>
                <a href="/"><h2 style="color: #1CC661;margin-right: 15%;">BIOsferra</h2></a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="row" style="flex-wrap: nowrap;">
                {% if user.is_authenticated %}
                    <li class="img"><img src="{% static "images/avatar-copy.png" %}"></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        {% if user.account2.slug %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Profilul Tau</a>
                                <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}/comenzi-primite">Comenzi</a>
                                <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Mesaje</a>
                                <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Deconectare</a>
                            </div>
                            {% else %}
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/mesaje">Mesaje</a>
                                    <a class="dropdown-item" href="/comenzile-mele">Comenzi</a>
                                    <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Deconectare</a>
                                </div>
                        {% endif %}
                    </li>
                    <li class="img"><img src="{% static "images/shopping-basket.png" %}"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cosul-meu">Cosul Meu</a>
                    </li>
                    {% if user.account2.slug %}
                    <li class="nav-item" id="creeazaPostare">
                        <a href="/create-post"><button class="btn" style="border-radius: 1px;">+ Creaza o postare</button></a>
                    </li>
                        {% else %}
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/logout"><button class="btn" style="border-radius: 1px;width: 180px;">Deconectare</button></a>
                        </li>
                    {% endif %}
                    {% else %}
                        <li class="nav-item" id="creeazaPostare" style="margin-left: 65%;">
                            <a href="/register-cumparator"><button class="btn" style="border-radius: 1px;">Inregistreaza-te!</button></a>
                        </li>
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/login"><button class="btn" style="border-radius: 1px;width: 150px;">Autentificare</button></a>
                        </li>
                {% endif %}
                </div>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <br><br>
    <div class="col-md-12">
        <h2>Cosul meu</h2>
        <div class="path-44"></div>
        <br><hr>
    </div>
    {% if cosul %}
        {% for cosul in cosul %}
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/post/{{cosul.anunturi.slug}}"><img src="{{  cosul.anunturi.image1.url }}" class="img-fluid" alt="Responsive image" style="min-height: 180px;max-height: 180px; box-shadow: 0 2px 25px 0 rgba(0,0,0,0.25);"></a>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4><a href="/post/{{cosul.anunturi.slug}}"><b>{{ cosul.anunturi.name }}</b></a></h4>
                                            </div>
                                            <div class="col-md-3 offset-md-3">
                                                <h3 style="color: #1CC661;">{{ cosul.anunturi.price }} lei / {{ cosul.anunturi.category }}</h3>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <p style="color: #6C6C6C;">{{ cosul.anunturi.details|truncatechars:100 }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="row">
                                                        {% for profil in profil %}
                                                            {% if cosul.anunturi.author == profil.user %}
                                                                <img src="{{  profil.image2.url }}" class="img-fluid" alt="Responsive image" style="border-radius: 50%;min-height: 40px;max-height: 40px;">
                                                            {% endif %}
                                                        {% endfor %}
                                                        <a href="/view-profile/{{cosul.anunturi.author.account2.slug}}"><h6 style="margin-left: 10px; margin-top: 10px;color: #4B4B4B;">{{ cosul.anunturi.author }}</h6></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 offset-md-5">
                                                    <h5 style="margin-left: 10px; margin-top: 10px;color: #4B4B4B;">Cantitate: {{ cosul.anunturi.cantity }} {{ cosul.anunturi.category }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a href="/post/{{cosul.anunturi.slug}}/comanda"><button class="btn btn-success btn-circle text-uppercase" type="submit" style="border-radius: 1px;width: 55%;background-color: #1CC661; border-color: #1CC661;"><span class="glyphicon glyphicon-send"></span> Comanda</button></a>
                        <br>
                        <a href="{{cosul.get_delete_cos_url}}"><button class="btn btn-success btn-circle text-uppercase" type="submit" style="border-radius: 1px;width: 55%;background-color: #E53046; border-color: #E53046;margin-top: 8%;"><span class="glyphicon glyphicon-send"></span>Sterge</button></a>
                    </div>
                </div>
            </div>
            <hr>
            <br>
        {% endfor %}

        {% else %}
            <h2 align="center">Nu exista nici un produs in cos </h2>
    {% endif %}
</div>

<footer class="footer"style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5" style="margin-top: 40px;padding-left: 35px;">
                            <h2 align="left"><b>BIOsferra</b></h2>
                            <div class="path-57"></div>
                            <a href="https://dribbble.com/FagadarCezar" style="color: #FFFFFF"><p align="left" style="margin-top: 35px;">Fagadar Cezar</p></a>
                            <a href="https://github.com/temi4000" style="color: #FFFFFF"><p align="left">Temian Mihai</p></a>
                        </div>
                        <div class="col-md-6" style="margin-top: 40px;">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="path-56"></div>
                                </div>
                                <div class="col-md-5">
                                    <p align="left"><b>Pagini</b></p>
                                    {% if user.is_authenticated %}
                                        {% if user.account2.slug %}
                                            <a href="/" style="color: #FFFFFF"><p align="left">Acasa</p></a>
                                            <a href="/view-profile/{{ user.account2.slug }}" style="color: #FFFFFF"><p align="left">Profilul Tau</p></a>
                                            {% else %}
                                                <a href="/mesaje" style="color: #FFFFFF"><p align="left">Mesaje</p></a>
                                                <a href="/comenzile-mele" style="color: #FFFFFF"><p align="left">Comenzi</p></a>
                                                <a href="/favoriti" style="color: #FFFFFF"><p align="left">Favoriti</p></a>
                                        {% endif %}
                                        <a href="/cosul-meu" style="color: #FFFFFF"><p align="left">Cosul Meu</p></a>
                                        {% if user.account2.slug %}
                                            <a href="/create-post" style="color: #FFFFFF"><p align="left">Creaza o postare</p></a>
                                            {% else %}
                                            <a href="/logout" style="color: #FFFFFF"><p align="left">Deconectare</p></a>
                                        {% endif %}

                                        {% else %}
                                            <a href="/register-cumparator" style="color: #FFFFFF"><p align="left">Inregistrare</p></a>
                                            <a href="/login" style="color: #FFFFFF"><p align="left">Autentificare</p></a>
                                    {% endif %}
                                </div>
                                <div class="col-md-1">
                                    <div class="path-56"></div>
                                </div>
                                <div class="col-md-5">
                                    <p align="left"><b>Contact</b></p>
                                    <p align="left">Romania, Timis, Timisoara</p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d22269.631879759865!2d21.215498148071287!3d45.75708007361393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sro!2sro!4v1532376892664" width="auto" height="80px;" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    <p align="left">biosferra.noreplay@gmail.com</p>
                                    <p align="left">+40 733 625 927</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="col-md-12">
        <div class="rectangle-60">
            <p align="center" style="color: #1CC661;margin-top: 20px;">@ 2018 Biosferra. All rights reserved.</p>
        </div>
    </div>
</body>
</html>