<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}

    <title>Biosferra</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static "images/brand.png" %}" />
    <script type="text/javascript" src="{%  static "js/hotjar2.js" %}"></script>


    <style>
    h1 {
        color: #4B4B4B;
        font-size: 34px;
        font-weight: bold;
    }

    label {
        color: #4B4B4B;
        font-size: 24px;
        font-weight: 500;
    }
    .dropdown-item{
        color:#6C6C6C;
    }
    .dropdown-item:hover{
            color:#fff;
        }

    .path-44 {
        box-sizing: border-box;
        height: 1px;
        width: 190px;
        border: 1px solid #1CC661;
    }
    </style>
</head>
<body>

<div class="container">
    <br><br>
    <div class="col-md-12">
    <h1>Creaza-ti profilul:</h1>
        <div class="path-44"></div>
        <br>
        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <label>Descirere</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

                      {{ form.description|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                    </div>
                <br>
                <label>Leguma sau fruct</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

                      {{ form.product1|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                    </div>
                <br>
                <label>Leguma sau fruct</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

                      {{ form.product2|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                    </div>

                <br>
                <label>Leguma sau fruct</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

                      {{ form.product3|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                    </div>

                <br>
                <label>Leguma sau fruct</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

                      {{ form.product4|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                    </div>

                <br>
                <label>Leguma sau fruct</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                      {{ form.product5|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                    </div>

                <br>
                <label>Poza de profil</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

                      {{ form.profile_image|add_class:"form-control" }}
                    </div>

                <br>
                <label>Poza de coperta</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope"></span></span>
                    {{ form.cover_image|add_class:"form-control " }}
                    </div>

                <br>
                <div class="col-md-3 offset-md-4">
                <button type="submit" class="btn btn-success" style="border-radius: 2px; margin-top: 5px; background-color:#1CC661; border-color: #1CC661; width: 100%">Creaza profilul</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>