<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
        {% load widget_tweaks %}
    <title>Biosferra</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/styleee.css" %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static "images/brand.png" %}" />

    <style>
        .modal  {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.8);
    }

    .modal-dialog {
            top: 20%;
                width: 100%;
    position: absolute;
        }
        .modal-content {
                border-radius: 0px;
                border: none;
    top: 40%;
            }
            .modal-body {
                    background-color: #0f8845;
    color: white;
                }

    .path-44 {
        box-sizing: border-box;
        height: 1px;
        width: 170px;
        border: 1px solid #1CC661;
    }

    .dropdown-item{
        color:#6C6C6C;
    }

    .dropdown-item:hover{
            color:#fff;
        }

    a:link {
        text-decoration: none;
    }

    @media only screen and (max-width: 600px) {
        .navbar li img{
            padding-left: 5px;
            padding-top: 7px;
        }
    }

    @media only screen and (min-width: 601px) {
        .navbar  li img{
            padding-left: 50px;
            padding-top: 7px;
        }
    }
    </style>

    </head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand">
                <div class="row" style="flex-wrap: nowrap;">
                    <a  href="/"><img src="{% static "images/brand.png" %}"></a>
                    <a href="/"><h2 style="color: #1CC661;margin-right: 15%;">BIOsferra</h2></a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Will get collapsed -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <div class="row" style="flex-wrap: nowrap;">
                    {% if user.is_authenticated %}
                        <!-- Username dropdown -->
                        <li class="img"><img src="{% static "images/avatar-copy.png" %}"></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            {% if user.account2.slug %}
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Profilul Tau</a>
                                    <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}/comenzi-primite">Comenzi</a>
                                    <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Mesaje</a>
                                    <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                    <a class="dropdown-item" href="/edit-profile">Editeaza profilul</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Deconectare</a>
                                </div>
                                {% else %}
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/mesaje">Mesaje</a>
                                        <a class="dropdown-item" href="/comenzile-mele">Comenzi</a>
                                        <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">Deconectare</a>
                                    </div>
                            {% endif %}
                        </li>

                        <!-- Cosul meu -->
                        <li class="img"><img src="{% static "images/shopping-basket.png" %}"></li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cosul-meu">Cosul Meu</a>
                        </li>

                        {% if user.account2.slug %}
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/create-post"><button class="btn">+ Creaza o postare</button></a>
                        </li>
                            {% else %}
                            <li class="nav-item" id="creeazaPostare">
                                <a href="/register-vanzator"><button class="btn">Devino vanzator</button></a>
                            </li>
                        {% endif %}

                        {% else %}
                            <li class="nav-item" id="creeazaPostare" style="margin-left: 97%;">
                                <a href="/register-cumparator"><button class="btn">Inregistreaza-te!</button></a>
                            </li>
                            <li class="nav-item" id="creeazaPostare">
                                <a href="/login"><button class="btn">Autentificare</button></a>
                            </li>
                    {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container content">
        <div class="col-md-12">
            <h1>Creeaza un anunt</h1>
            <div class="path-44"></div>
            <hr>
            <br>
            {% if messages %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        {% for message in messages %}
                            <p {% if message.tags == 'success' %} class="alert alert-success" {% endif %} >{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

           <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="col-md-6" style="margin-left: -15px;">
                        <label for="titlu-field">Titlul anuntului:</label>
                        <input name="name" value="{{form.name.value|default:""}}" type="text" placeholder="Titlu. Ex: Mere de gradina" id="titlu-field" class="form-control"/>
                         {% if form.name.errors %}
                         <div class="alert alert-danger alert-dimdissible" role="alert">
                            <strong>Atentie!</strong>
                            {% for errors in form.name.errors %}
                                    {{ errors }}
                            {% endfor %}
                         </div>
                         {% endif %}
                </div>

                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                    <label>Legume sau fructe:</label>
                            </div>
                            <div class="col-md-2" >
                                    {{ form.lfcategory|add_class:"form-control "|attr:"required:required"}}
                            </div>
                            <div class="col-md-2">
                                    <label>Anotimp produs:</label>
                            </div>
                            <div class="col-md-2">
                            {{ form.categorie|add_class:"form-control "|attr:"required:required"}}
                            </div>
                            <div class="col-md-2">
                                    <label>Produsul vandut:</label>
                            </div>
                            <div class="col-md-2" >
                            {{ form.legfruccategory|add_class:"form-control "|attr:"required:required"}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>


               <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Kg / Buc:</label>
                            </div>
                            <div class="col-md-2" >
                                {{ form.category|add_class:"form-control "|attr:"required:required"}}
                            </div>
                            <div class="col-md-2" >
                                <label>Cantitate:</label>
                            </div>
                            <div class="col-md-2" >
                                <input name="cantity" value="{{form.cantity.value|default:""}}" type="text" placeholder="Ex: 10" id="titlu-field" class="form-control"/>
                                {% if form.cantity.errors %}
                                     <div class="alert alert-danger alert-dimdissible" role="alert">
                                        <strong>Atentie!</strong>
                                        {% for errors in form.cantity.errors %}
                                                {{ errors }}
                                        {% endfor %}
                                     </div>
                                 {% endif %}
                            </div>
                            <div class="col-md-2">
                                    <label>Pret:</label>
                            </div>
                            <div class="col-md-2">
                                <input name="price" value="{{form.price.value|default:""}}" type="text" placeholder="Ex: 2" id="titlu-field" class="form-control"/>
                                {% if form.price.errors %}
                                     <div class="alert alert-danger alert-dimdissible" role="alert">
                                        <strong>Atentie!</strong>
                                        {% for errors in form.price.errors %}
                                                {{ errors }}
                                        {% endfor %}
                                     </div>
                                 {% endif %}
                            </div>
                        </div>
                    </div>
               </div>


                <hr>

                <div class="form-group">
                    <label>Descriere:</label>
                    <input name="details" value="{{form.details.value|default:""}}" type="text" placeholder="O scurta descriere despre produs" id="titlu-field" class="form-control" />

                     {% if form.details.errors %}
                     <div class="alert alert-danger alert-dimdissible" role="alert">

                        <strong>Atentie!</strong>
                        {% for errors in form.details.errors %}
                                {{ errors }}
                        {% endfor %}
                     </div>
                     {% endif %}

                </div>
                <hr>
                <div class="form-group">
                    <br>
                    <label for="exampleInputFile">Alegeti cateva poze cu produsul dumneavoastra:</label>

                         {{ form.image1|add_class:"form-control " }}
                            {% if form.image1.errors %}
                                <div class="alert alert-danger fade in" id="input-alert">
                                    <a href="#" class="close" data-dimdiss="alert" aria-label="close">&times;</a>
                                    <strong>Atentie!</strong>
                                    {% for error in form.image1.errors %}
                                            {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                        <br>

                         {{ form.image2|add_class:"form-control " }}
                            {% if form.image2.errors %}
                                <div class="alert alert-danger fade in" id="input-alert">
                                    <a href="#" class="close" data-dimdiss="alert" aria-label="close">&times;</a>
                                    <strong>Atentie!</strong>
                                    {% for error in form.image2.errors %}
                                            {{ error }}
                                    {% endfor %}
                                </div>
                             {% endif %}

                        <br>

                         {{ form.image3|add_class:"form-control " }}
                            {% if form.image3.errors %}
                                <div class="alert alert-danger fade in" id="input-alert">
                                    <a href="#" class="close" data-dimdiss="alert" aria-label="close">&times;</a>
                                    <strong>Atentie!</strong>
                                    {% for error in form.image3.errors %}
                                            {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                         <br>

                         {{ form.image4|add_class:"form-control " }}
                            {% if form.image4.errors %}
                                <div class="alert alert-danger fade in" id="input-alert">
                                    <a href="#" class="close" data-dimdiss="alert" aria-label="close">&times;</a>
                                    <strong>Atentie!</strong>
                                    {% for error in form.image4.errors %}
                                            {{ error }}
                                    {% endfor %}
                                </div>
                             {% endif %}
                </div>
               <p>Inainte ca anuntul dumneavoastra sa fie postat el va trebui verificat de un admin. Veti primi un mail in legatura cu statutul acestuia. </p>
               <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

     <br>

    <footer class="footer">
            <div class="row">
                <div class="col-4">
                    <a href="/" style="color: #fff"><h4>BIOsferra</h4></a>
                </div>
                <div class="col-2">
                    <a href="/" style="color: #fff"><p>Acasa</p></a>
                </div>
                {% if user.account2.slug %}
                <div class="col-2">
                    <a href="/view-profile/{{ user.account2.slug }}" style="color: #fff"><p>Profilul tau</p></a>
                </div>
                <div class="col-2">
                    <a href="/edit-profile" style="color: #fff"><p>Editeaza profilul</p></a>
                </div>
                {% endif %}
                <div class="col-2">
                    {% if user.account2.slug %}
                   <p><a href="/create-post" style="color: #fff">Creaza o postare</p></a>
                    {% else %}
                    <p><a href="/register-vanzator" style="color: #fff">Devin-o vanzator</p></a>
                    {% endif %}
                </div>
            </div>
            <hr class="hr">
            <div class="row">
                <div class="col-12">
                    <p>@All rights reserverd</p>
                </div>
            </div>
    </footer>


</body>
</html>