<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}

    <title>Biosferra</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static "images/brand.png" %}" />


    <style>
    h1 {
        color: #4B4B4B;
        font-size: 34px;
        font-weight: bold;
    }

    label {
        color: #4B4B4B;
        font-size: 24px;
        font-weight: 500;
    }

    .path-44 {
        box-sizing: border-box;
        height: 1px;
        width: 170px;
        border: 1px solid #1CC661;
    }

    .dropdown-item{
        color:#6C6C6C;
    }

            .dropdown-item:hover{
            color:#fff;
        }
    a:link {
        text-decoration: none;
    }

    @media only screen and (max-width: 600px) {
            .navbar li img{
                padding-left: 5px;
                padding-top: 7px;
            }
        }

    @media only screen and (min-width: 601px) {
        .navbar  li img{
            padding-left: 50px;
            padding-top: 7px;
        }
    }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand">
                <div class="row" style="flex-wrap: nowrap;">
                    <a  href="/"><img src="{% static "images/brand.png" %}"></a>
                    <a href="/"><h2 style="color: #1CC661;margin-right: 15%;">BIOsferra</h2></a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Will get collapsed -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <div class="row" style="flex-wrap: nowrap;">
                    {% if user.is_authenticated %}
                        <!-- Username dropdown -->
                        <li class="img"><img src="{% static "images/avatar-copy.png" %}"></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            {% if user.account2.slug %}
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Profilul Tau</a>
                                    <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}/comenzi-primite">Comenzi</a>
                                    <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Mesaje</a>
                                    <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                    <a class="dropdown-item" href="/edit-profile">Editeaza profilul</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Deconectare</a>
                                </div>
                                {% else %}
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/mesaje">Mesaje</a>
                                        <a class="dropdown-item" href="/comenzile-mele">Comenzi</a>
                                        <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">Deconectare</a>
                                    </div>
                            {% endif %}
                        </li>

                        <!-- Cosul meu -->
                        <li class="img"><img src="{% static "images/shopping-basket.png" %}"></li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cosul-meu">Cosul Meu</a>
                        </li>

                        {% if user.account2.slug %}
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/create-post"><button class="btn">+ Creaza o postare</button></a>
                        </li>
                            {% else %}
                            <li class="nav-item" id="creeazaPostare">
                                <a href="/register-vanzator"><button class="btn">Devino vanzator</button></a>
                            </li>
                        {% endif %}

                        {% else %}
                            <li class="nav-item" id="creeazaPostare" style="margin-left: 97%;">
                                <a href="/register-cumparator"><button class="btn">Inregistreaza-te!</button></a>
                            </li>
                            <li class="nav-item" id="creeazaPostare">
                                <a href="/login"><button class="btn">Autentificare</button></a>
                            </li>
                    {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <br> <br>

    <div class="container">
        <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="row">
                    <div class="col-md-6">
                        <h2 align="left">Adresa de facturare</h2>
                        <div class="path-44"></div>
                        <br>
                        <label>Nume</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.nume|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.nume.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.nume.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Prenume</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.prenume|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.prenume.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.prenume.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Email</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.email|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.email.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.email.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Nr. de telefon</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.nrdetelefon|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.nrdetelefon.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.nrdetelefon.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Adresa</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.adresa|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.adresa.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.adresa.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Localitate</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.localitate|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.localitate.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.localitate.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Judet</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.judet|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.judet.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.judet.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Cod postal</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.codpostal|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.codpostal.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.codpostal.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <h2 align="left">Adresa de livrare</h2>
                        <div class="path-44"></div>
                        <br>
                        <label>Nume</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.nume2|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.nume2.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.nume2.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Prenume</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.prenume2|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.prenume2.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.prenume2.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Adresa</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.adresa2|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.adresa2.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.adresa2.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Judet</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.judet2|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.judet2.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.judet2.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Localitate</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.localitate2|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.localitate2.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.localitate2.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Cod postal</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.codpostal2|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.codpostal2.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.codpostal2.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <label>Comentarii</label>
                        <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                              {{ form.comentarii|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
                        {% if form.comentarii.errors %}
                             <div class="alert alert-danger alert-dimdissible" role="alert">
                                <strong>Atentie!</strong>
                                {% for errors in form.comentarii.errors %}
                                        {{ errors }}
                                {% endfor %}
                             </div>
                        {% endif %}
                        <br>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                    </div>
            </form>
        </div>
    </div>

    <br>

    <footer class="footer">
            <div class="row">
                <div class="col-4">
                    <a href="/" style="color: #fff"><h4>BIOsferra</h4></a>
                </div>
                <div class="col-2">
                    <a href="/" style="color: #fff"><p>Acasa</p></a>
                </div>
                {% if user.account2.slug %}
                <div class="col-2">
                    <a href="/view-profile/{{ user.account2.slug }}" style="color: #fff"><p>Profilul tau</p></a>
                </div>
                <div class="col-2">
                    <a href="/edit-profile" style="color: #fff"><p>Editeaza profilul</p></a>
                </div>
                {% endif %}
                <div class="col-2">
                    {% if user.account2.slug %}
                   <p><a href="/create-post" style="color: #fff">Creaza o postare</p></a>
                    {% else %}
                    <p><a href="/register-vanzator" style="color: #fff">Devino vanzator</p></a>
                    {% endif %}
                </div>
            </div>
            <hr class="hr">
            <div class="row">
                <div class="col-12">
                    <p>@All rights reserverd</p>
                </div>
            </div>
    </footer>

</body>
</html>