<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}

    <title>Biosferra</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static "images/brand.png" %}" />


    <style>
    h1 {
        color: #4B4B4B;
        font-size: 34px;
        font-weight: bold;
    }

    label {
        color: #4B4B4B;
        font-size: 24px;
        font-weight: 500;
    }

    .path-44 {
            box-sizing: border-box;
            height: 1px;
            width: 170px;
            border: 1px solid #1CC661;
            }

    .dropdown-item{
        color:#6C6C6C;
    }

    .dropdown-item:hover{
            color:#fff;
        }
    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="/"><img src="{% static "images/brand.png" %}"></a>
        <!-- Button enables when screen size is small -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Will get collapsed -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <!-- <button class="btn my-2 my-sm-0" type="submit"><img src="Oval-8.png"></button> -->
                <input class="form-control mr-sm-2" type="search" placeholder="Cauta orice" aria-label="Search">
                <button class="btn my-2 my-sm-0" type="submit">Cauta</button>
            </form>
            <ul class="navbar-nav mr-auto">

                <!-- Username dropdown -->
                <li class="img"><img src="{% static "images/avatar-copy.png" %}"></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
                </a>

                {% if user.account2.slug %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Profilul Tau</a>
                    <a class="dropdown-item" href="#">Mesaje</a>
                    <a class="dropdown-item" href="/edit-profile">Editeaza profilul</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Deconectare</a>
                </div>
                    {% else %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Mesaje</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Deconectare</a>
                </div>
                {% endif %}
                </li>

                <!-- Cosul meu -->
                <li class="img"><img src="{% static "images/shopping-basket.png" %}"></li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cosul Meu</a>
                </li>

                {% if user.account2.slug %}
                <li class="nav-item" id="creeazaPostare">
                    <a href="/create-post"><button class="btn">+ Creeaza o postare</button></a>
                </li>
                    {% else %}
                    <li class="nav-item" id="creeazaPostare">
                        <a href="/register-vanzator"><button class="btn">Devino vanzator</button></a>
                    </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
</body>
<div class="container">
    <br><br>
    <div class="col-md-12">
        <h1>Useri favoriti:</h1>
        <div class="path-44"></div>
        <br><hr>
    </div>
    {% for favoriti in favoriti %}
        <div class="col-md-12">
            <h1 style="color: #de6969"><b>{{ favoriti.ales }}</b></h1>
            <div class="col-md-2"> <hr></div>
            <br>
        </div>
        {% if posturi %}
            {% for posturi in posturi %}
                {% if posturi.author == favoriti.ales %}
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="{{  posturi.image1.url }}" class="img-fluid" alt="Responsive image" style="min-height: 145px;max-height: 145px; box-shadow: 0 2px 25px 0 rgba(0,0,0,0.25);">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h4><a href="/post/{{posturi.slug}}"><b>{{ posturi.name }}</b></a></h4>
                                                    </div>
                                                    <div class="col-md-3 offset-md-3">
                                                        <h3 style="color: #1CC661;">{{ posturi.price }} lei / {{ posturi.category }}</h3>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <p style="color: #6C6C6C;">{{ posturi.details|truncatechars:100 }}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="row">
                                                                {% for profil in profil %}
                                                                    {% if posturi.author == profil.userul %}
                                                                        <img src="{{  profil.image2.url }}" class="img-fluid" alt="Responsive image" style="border-radius: 50%;min-height: 40px;max-height: 40px;">
                                                                    {% endif %}
                                                                {% endfor %}
                                                                <a href="/view-profile/{{posturi.author.account2.slug}}"><h6 style="margin-left: 10px; margin-top: 10px;color: #4B4B4B;">{{ posturi.author }}</h6></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 offset-md-5">
                                                            <h5 style="margin-left: 10px; margin-top: 10px;color: #4B4B4B;">Cantitate: {{ posturi.cantity }} {{ posturi.category }}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <br>
                {% endif %}
            {% endfor %}
            {% else %}
                <h1 align="center">Nu exista nici user favorit </h1>
        {% endif %}
        <br>
    {% endfor %}
</div>
    {% for favoriti in favoriti %}
        {{ favoriti.ales }}

        {% for posturi in posturi %}
            {% if posturi.author == favoriti.ales %}
                {{ posturi.name }}
            {% endif %}
        {% endfor %}

    {% endfor %}
</html>