<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}

    <title>Biosferra</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static "images/brand.png" %}" />
    <script type="text/javascript" src="{%  static "js/hotjar.js" %}"></script>
    <script type="text/javascript" src="{%  static "js/hotjar2.js" %}"></script>


    <style>
    h1 {
        color: #4B4B4B;
        font-size: 34px;
        font-weight: bold;
    }

    label {
        color: #4B4B4B;
        font-size: 24px;
        font-weight: 500;
    }
    .path-44 {
        box-sizing: border-box;
        height: 1px;
        width: 170px;
        border: 1px solid #1CC661;
    }

    .dropdown-item{
        color:#6C6C6C;
    }

    .dropdown-item:hover{
            color:#fff;
        }

    @media only screen and (max-width: 600px) {
        .navbar li img{
            padding-left: 5px;
            padding-top: 7px;
        }
    }

    @media only screen and (min-width: 601px) {
        .navbar  li img{
            padding-left: 50px;
            padding-top: 7px;
        }
    }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" style="padding-left: 1%">
        <div class="navbar-brand" style="margin-right: 16rem;">
            <div class="row" style="flex-wrap: nowrap;">
                <a  href="/"><img src="{% static "images/brand.png" %}"></a>
                <a href="/"><h2 style="color: #1CC661;margin-right: 15%;">BIOsferra</h2></a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="row" style="flex-wrap: nowrap;">
                {% if user.is_authenticated %}
                    <li class="img"><img src="{% static "images/avatar-copy.png" %}"></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        {% if user.account2.slug %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Profilul Tau</a>
                                <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}/comenzi-primite">Comenzi</a>
                                <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Mesaje</a>
                                <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Deconectare</a>
                            </div>
                            {% else %}
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/mesaje">Mesaje</a>
                                    <a class="dropdown-item" href="/comenzile-mele">Comenzi</a>
                                    <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                    <a class="dropdown-item" href="/edit-profile-buyer">Editeaza profilul</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Deconectare</a>
                                </div>
                        {% endif %}
                    </li>
                    <li class="img"><img src="{% static "images/shopping-basket.png" %}"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cosul-meu">Cosul Meu</a>
                    </li>
                    {% if user.account2.slug %}
                    <li class="nav-item" id="creeazaPostare">
                        <a href="/create-post"><button class="btn" style="border-radius: 1px;">+ Creaza o postare</button></a>
                    </li>
                        {% else %}
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/logout"><button class="btn" style="border-radius: 1px;width: 180px;">Deconectare</button></a>
                        </li>
                    {% endif %}
                    {% else %}
                        <li class="nav-item" id="creeazaPostare" style="margin-left: 65%;">
                            <a href="/register-cumparator"><button class="btn" style="border-radius: 1px;">Inregistreaza-te!</button></a>
                        </li>
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/login"><button class="btn" style="border-radius: 1px;width: 150px;">Autentificare</button></a>
                        </li>
                {% endif %}
                </div>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <br><br>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 offset-md-5">
                <img src="{% static "images/accept-circular-button-outline.png" %}">
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <h2 align="center" style="color: #1CC661;"><b>Felicitari, ai terminat comanda cu succes</b></h2>
    </div>
    <br>
    <div class="col-md-6 offset-md-3">
        <p style="color: #4B4B4B;">Felicitări ai completat cu succes toti pasii pentru terminarea comenzii.<br> De aici ne vom ocupa noi si vom face tot posibilul pentru ați livra toate produsele cât mai repede posibil si in cele mai bune condiți. </p>
        <br>
        <div class="col-md-2 offset-md-4">
            <a href="/"><button class="btn btn-success" type="submit" style="border-radius: 2px; margin-top: 5px; background-color:#1CC661; border-color: #1CC661;">Inapoi acasa</button></a>
        </div>
    </div>
</div>
</body>
</html>