<html>
<head>
    {% load staticfiles %}
    <title>Biosfera</title>
    <link href="{% static "style.css" %}" rel="stylesheet">

     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>

    body, html {
        height: 100%;
        margin: 0;
    }


    </style>
</head>
<body>
<div class="bg4">
  <div class="rectangle-23">
      <nav style=" padding-left:  9%;padding-right: 9%; background-color: #fff; height:80px;">
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><img src='{% static "images/logo.png" %}' style="margin-top: 13%;"></li>
          </ul>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><img src='{% static "images/profile photo.png" %}' style="margin-top: 10%; margin-left: -200%;"><li><a href="/profile" style="margin-left: -80%; margin-top: -5%;">{{ user.username }}</a></li></li>
              <li><img src='{% static "images/read hearth.png" %}' style="margin-top: 13%; margin-left: -100%;"><li><a  style="margin-top: -5%; margin-left: -30%;">Favorite</a></li></li>
            <li><img src='{% static "images/shopping-basket.png" %}' style="margin-top: 13%;"><li><a href="/profile" style="margin-top: -5%;">Cosul meu</a></li></li>
          </ul>

        </div>

      </nav>
                              <div class="liniee"></div>
    <div class="container">
        <div class="row">
            <div class="col s12">
              <nav>
                <div class="nav-wrapper " style="margin-top: 16%; margin-left: 15%">
                  <form>
                    <div class="input-field" style="padding-left: 10%; margin-right: 50%; height: 54px;">
                      <input id="search" type="search" placeholder="Cauta legume si fructe" style="background-color: #fff; position: absolute">
                      <button class="btn waves-effect waves-light btn-large" type="submit" name="action" style="margin-left: 125%;">
                          Submit
                      </button>
                    </div>
                  </form>
                </div>
              </nav>
            </div>
        </div>
    </div>

  </div>
</div>

    <h5 align="center" style="margin-top: 5%; font-weight: 600;">Postarile utilizatorilor</h5>
    <div class="path-12" style="margin-left: 45%;margin-bottom: 50px;"></div>


<div style="margin-left: 80%;">
 <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Sortare dupa</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Sortare dupa</a></li>
    <li><a href="#!">Ordine alfabetica</a></li>
    <li><a href="#!">Pret crescator</a></li>
    <li><a href="#!">Pret descrescator</a></li>
  </ul>
</div>



<div class="filtre">
    <p align="left" style="font-weight: 600; margin-left: 10%;">Fructe</p>

        <input type="checkbox" id="remember1">
    <label for="remember1" style="margin-left: 10%; margin-bottom: 4%;">Ananas</label>

        <input type="checkbox" id="remember2">
    <label for="remember2" style="margin-left: 10%; margin-bottom: 4%;">Maaaaaaaaaar</label>

        <input type="checkbox" id="remember3">
    <label for="remember3" style="margin-left: 10%; margin-bottom: 4%;">Portocalaaaaa</label>

        <input type="checkbox" id="remember4">
    <label for="remember4" style="margin-left: 10%; margin-bottom: 4%;">Banana</label>
</div>

<div class="anunt">

</div>



<div class="filtre">
    <p align="left" style="font-weight: 600; margin-left: 10%;">Legume</p>

        <input type="checkbox" id="remember5">
    <label for="remember5" style="margin-left: 10%; margin-bottom: 4%;">Morcoooov</label>

        <input type="checkbox" id="remember6">
    <label for="remember6" style="margin-left: 10%; margin-bottom: 4%;">Dovleaaaac</label>

        <input type="checkbox" id="remember7">
    <label for="remember7" style="margin-left: 10%; margin-bottom: 4%;">Caaaartooof</label>

        <input type="checkbox" id="remember8">
    <label for="remember8" style="margin-left: 10%; margin-bottom: 4%;">Rosiee</label>
</div>

<div class="filtre2">
<p align="left" style="font-weight: 600; margin-left: 10%;">Review-uri</p>
</div>

<div class="filtre2">
<p align="left" style="font-weight: 600; margin-left: 10%;">Pret</p>

        <input type="checkbox" id="remember14">
    <label for="remember14" style="margin-left: 10%; margin-bottom: 4%;">0 - 1,00 lei</label>

        <input type="checkbox" id="remember15">
    <label for="remember15" style="margin-left: 10%; margin-bottom: 4%;">1,00 - 2,00 lei</label>

        <input type="checkbox" id="remember16">
    <label for="remember16" style="margin-left: 10%; margin-bottom: 4%;">2,00 - 3,00 lei</label>

        <input type="checkbox" id="remember17">
    <label for="remember17" style="margin-left: 10%; margin-bottom: 4%;">3,00 - 4,00 lei</label>

        <input type="checkbox" id="remember18">
    <label for="remember18" style="margin-left: 10%; margin-bottom: 4%;">Peste 4,00 lei</label>
</div>






{% for anunturi in post %}
   <h2> {{   anunturi.name }} </h2>
{% endfor %}





<footer class="page-footer" style="background-color: #3B3B3B; margin-top: 70px;">
  <nav style=" padding-left:  9%;padding-right: 9%; height:90px;">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><img src='{% static "images/logoo.png" %}'></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down" style="line-height: 35px;">
        <li><a href="sass.html" style="color: #fff;">Home</a></li>
        <li><a href="badges.html" style="color: #fff;">About our products</a></li>
        <li><a href="collapsible.html" style="color: #fff;">About us</a></li>
        <li><a href="collapsible.html" style="color: #fff;">Contact us</a></li>
      </ul>
    </div>
  </nav>
    <div class="las" style=" margin-left: 100px;margin-right: 100px;margin-bottom: 40px;"></div>
    <p align="center" style="padding-bottom: 15px; color: #BBBBBB;">@All rights reserved</p>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
</body>
</html>