<!DOCTYPE html>
<html>
<head>
    <title>Biosferra | Shopping page</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="#"><img src="brand.png"></a>
        <!-- Button enables when screen size is small -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Will get collapsed -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <!-- <button class="btn my-2 my-sm-0" type="submit"><img src="Oval-8.png"></button> -->
                <input class="form-control mr-sm-2" type="search" placeholder="Cauta orice" aria-label="Search">
                <button class="btn my-2 my-sm-0" type="submit">Cauta</button>
            </form>
            <ul class="navbar-nav mr-auto">

                <!-- Username dropdown -->
                <li class="img"><img src="avatar-copy.png"></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {UserName}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Magazinul Tau</a>
                    <a class="dropdown-item" href="#">Mesaje</a>
                    <a class="dropdown-item" href="#">Istoric</a>
                    <a class="dropdown-item" href="#">Favorite</a>
                    <a class="dropdown-item" href="#">Setari</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Deconectare</a>
                </div>
                </li>

                <!-- Cosul meu -->
                <li class="img"><img src="shopping-basket.png"></li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cosul Meu</a>
                </li>

                <li class="nav-item" id="creeazaPostare">
                    <button class="btn">+ Creeaza o postare</button>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <br> <br>
    <!-- Legume/Fructe/Anunturi reducere -->
    <div class="container">

        <div class="section">
            <h1>Legume</h1>
            <div class="hold">
                <ul class="items">
                    <li>Toamna</li>
                    <li>Vara</li>
                    <li>Primavara</li>
                    <li>Toate</li>
                </ul>
                <div class="veggie-img">
                    <img src="">
                </div>
            </div>
        </div>
        <br> <br>
        <div class="section">
            <h1>Fructe</h1>
            <div class="hold">
                <ul class="items">
                    <li>Toamna</li>
                    <li>Vara</li>
                    <li>Primavara</li>
                    <li>Toate</li>
                </ul>
                <div class="veggie-img">
                    <img src="">
                </div>
            </div>
        </div>
        <br> <br>
        <div class="container anunturi">
            <h1>Anunturi la reducere</h1>
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                        <hr>
                        <h5>Mere de calitate</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        (8)
                        <hr>
                        <p class="card-text card-price">3.27 lei/kg</p>
                        <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                        <hr>
                        <div style="display: inline-block;">
                            <a href="#" class="btn btn-default">Vezi produs</a>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                        <hr>
                        <h5>Mere de calitate</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        (8)
                        <hr>
                        <p class="card-text card-price">3.27 lei/kg</p>
                        <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                        <hr>
                        <div style="display: inline-block;">
                            <a href="#" class="btn btn-default">Vezi produs</a>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                        <hr>
                        <h5>Mere de calitate</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        (8)
                        <hr>
                        <p class="card-text card-price">3.27 lei/kg</p>
                        <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                        <hr>
                        <div style="display: inline-block;">
                            <a href="#" class="btn btn-default">Vezi produs</a>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>

        <div class="container producator">
            <h1>Cumpara dupa utilizator</h1>
            <div class="row">
                <div class="col-3">
                    <!-- Sorteaza dupa -->
                    <div class="side-menu">
                        <p class="head">Sorteaza dupa</p>
                        <form>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Utilizator</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Pret crescator</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Pret descrescator</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Ordine Alfabetica</label>
                          </div>
                        </form>
                    </div>
                    <br> <br>

                    <!-- Fructe -->
                    <div class="side-menu">
                        <p class="head">Fructe</p>
                        <form>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Ananas</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Lamaie</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Mar</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Lime</label>
                          </div>
                        <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Portocale</label>
                        </div>
                        </form>
                    </div>
                    <br> <br>

                    <!-- Legume -->
                    <div class="side-menu">
                        <p class="head">Legume</p>
                        <form>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Morcovi</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Dovleci</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Cartofi</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Rosii</label>
                          </div>
                        <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Pastarnac</label>
                        </div>
                        </form>
                    </div>
                    <br> <br>

                    <!-- Reviewuri -->
                    <div class="side-menu reviewuri">
                        <p class="head">Reviewuri</p>
                        <form>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span></label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </label>
                          </div>
                        <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></label>
                        </div>
                        </form>
                    </div>
                    <br> <br>

                    <!-- Gramaj -->
                    <div class="side-menu">
                        <p class="head">Gramaj</p>
                        <form>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">0 - 1,00 kg</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">1,00 - 2,00 kg</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">3,00 - 5,00 kg</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Peste 5,00 kg</label>
                          </div>
                        </form>
                    </div>
                    <br> <br>

                    <!-- Pret -->
                    <div class="side-menu">
                        <p class="head">Gramaj</p>
                        <form>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">0 - 1,00 leu</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">1,00 - 2,00 lei</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">2,00 - 3,00 lei</label>
                          </div>
                          <div>
                            <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
                            <label for="subscribeNews">Peste 4,00 lei</label>
                          </div>
                        </form>
                    </div>
                    <br> <br>
                </div>
                <div class="col-9">
                    <!-- Carduri pentru clienti -->
                    <h1>Cezarica22 |&nbsp; <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></h1>
                    <div class="card-deck">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                                <hr>
                                <h5>Mere de calitate</h5>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                (8)
                                <hr>
                                <p class="card-text card-price">3.27 lei/kg</p>
                                <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                                <hr>
                                <div style="display: inline-block;">
                                    <a href="#" class="btn btn-default">Vezi produs</a>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                                <hr>
                                <h5>Mere de calitate</h5>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                (8)
                                <hr>
                                <p class="card-text card-price">3.27 lei/kg</p>
                                <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                                <hr>
                                <div style="display: inline-block;">
                                    <a href="#" class="btn btn-default">Vezi produs</a>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                                <hr>
                                <h5>Mere de calitate</h5>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                (8)
                                <hr>
                                <p class="card-text card-price">3.27 lei/kg</p>
                                <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                                <hr>
                                <div style="display: inline-block;">
                                    <a href="#" class="btn btn-default">Vezi produs</a>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div> <br> <br>
                    <!-- Carduri pentru clienti -->
                    <!--  -->
                    <h1>Cotete Laur | &nbsp; <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></h1>
                    <div class="card-deck">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                                <hr>
                                <h5>Mere de calitate</h5>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                (8)
                                <hr>
                                <p class="card-text card-price">3.27 lei/kg</p>
                                <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                                <hr>
                                <div style="display: inline-block;">
                                    <a href="#" class="btn btn-default">Vezi produs</a>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                                <hr>
                                <h5>Mere de calitate</h5>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                (8)
                                <hr>
                                <p class="card-text card-price">3.27 lei/kg</p>
                                <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                                <hr>
                                <div style="display: inline-block;">
                                    <a href="#" class="btn btn-default">Vezi produs</a>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                                <hr>
                                <h5>Mere de calitate</h5>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                (8)
                                <hr>
                                <p class="card-text card-price">3.27 lei/kg</p>
                                <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                                <hr>
                                <div style="display: inline-block;">
                                    <a href="#" class="btn btn-default">Vezi produs</a>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carduri pentru clienti -->

                    <h1>Iauramnu | &nbsp; <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></h1>
                    <div class="card-deck">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                                <hr>
                                <h5>Mere de calitate</h5>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                (8)
                                <hr>
                                <p class="card-text card-price">3.27 lei/kg</p>
                                <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                                <hr>
                                <div style="display: inline-block;">
                                    <a href="#" class="btn btn-default">Vezi produs</a>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                                <hr>
                                <h5>Mere de calitate</h5>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                (8)
                                <hr>
                                <p class="card-text card-price">3.27 lei/kg</p>
                                <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                                <hr>
                                <div style="display: inline-block;">
                                    <a href="#" class="btn btn-default">Vezi produs</a>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="veggies.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Temi Boii &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azi la 18:30</h5>
                                <hr>
                                <h5>Mere de calitate</h5>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                (8)
                                <hr>
                                <p class="card-text card-price">3.27 lei/kg</p>
                                <p class="card-text">Kansas City ribs are serious business when it comes to BBQ.</p>
                                <hr>
                                <div style="display: inline-block;">
                                    <a href="#" class="btn btn-default">Vezi produs</a>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <br> <br>
        <div style="text-align: center;">
            <div id="vezi-mai-mult">
                <p>Vezi mai mult</p>
            </div>
        </div>
    </div>
</body>
</html>