<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}

    <title>Biosferra</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static "images/brand.png" %}" />
    <script type="text/javascript" src="{%  static "js/hotjar2.js" %}"></script>

    <style>
    h1 {
        color: #4B4B4B;
        font-size: 34px;
        font-weight: bold;
    }

    label {
        color: #4B4B4B;
        font-size: 24px;
        font-weight: 500;
    }

    .dropdown-item{
        color:#6C6C6C;
    }

    .dropdown-item:hover{
            color:#fff;
        }

    .hold {
        width: 100%;
        height: 100%;
        }
    .hold .items{
        list-style: none;
        padding-left: 0;
        padding-bottom: 0;
    }

    .tabel {
        border: 1px solid #E5E5E5;
    }

    .hold .items li {
        padding: 0;
    }

   .hold .items li:hover{
        background-color:#1cc661;
        color:#fff;
   }

    .path-44 {
        box-sizing: border-box;
        height: 1px;
        width: 170px;
        border: 1px solid #1CC661;
    }

    a:link {
        text-decoration: none;
    }

    @media only screen and (max-width: 600px) {
        .navbar li img{
            padding-left: 5px;
            padding-top: 7px;
        }
    }

    @media only screen and (min-width: 601px) {
        .navbar  li img{
            padding-left: 50px;
            padding-top: 7px;
        }
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container"  style="padding-left: 1%">
            <div class="navbar-brand" style="margin-right: 10rem;margin-left: 90px;">
                <div class="row" style="flex-wrap: nowrap;">
                    <a  href="/"><img src="{% static "images/logo_full.png" %}"></a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <div class="row" style="flex-wrap: nowrap;">
                    {% if user.is_authenticated %}
                        <li class="img"><img src="{% static "images/avatar-copy.png" %}"></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            {% if user.account2.slug %}
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Profilul Tau</a>
                                    <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}/comenzi-primite">Comenzi</a>
                                    <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Mesaje</a>
                                    <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Deconectare</a>
                                </div>
                                {% else %}
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/mesaje">Mesaje</a>
                                        <a class="dropdown-item" href="/comenzile-mele">Comenzi</a>
                                        <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                        <a class="dropdown-item" href="/edit-profile-buyer">Editeaza profilul</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">Deconectare</a>
                                    </div>
                            {% endif %}
                        </li>
                        <li class="img"><img src="{% static "images/shopping-basket.png" %}"></li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cosul-meu">Cosul Meu</a>
                        </li>
                        {% if user.account2.slug %}
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/create-post"><button class="btn" style="border-radius: 1px;">+ Creaza o postare</button></a>
                        </li>
                            {% else %}
                            <li class="nav-item" id="creeazaPostare">
                                <a href="/logout"><button class="btn" style="border-radius: 1px;width: 180px;">Deconectare</button></a>
                            </li>
                        {% endif %}
                        {% else %}
                            <li class="nav-item" id="creeazaPostare" style="margin-left: 65%;">
                                <a href="/register-cumparator"><button class="btn" style="border-radius: 1px;">Inregistreaza-te!</button></a>
                            </li>
                            <li class="nav-item" id="creeazaPostare">
                                <a href="/login"><button class="btn" style="border-radius: 1px;width: 150px;">Autentificare</button></a>
                            </li>
                    {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="col-md-9 offset-md-1">
            <br>
            <h2>Mesaje primite</h2>
            <div class="path-44"></div>
            <br>
            <div class="row">
                <div class="hold">
                    <div class="tabel">
                        <ul class="items" style="box-shadow: 0 2px 25px 0 rgba(0,0,0,0.15);">
                            <div class="row">
                                <div class="col-md-6" style="padding-right:0;">
                                    <a href="/mesaje"><li style="background-color: #1cc661; color: #fff;"><p align="center" style="margin-top: 10px;"">Mesaje primite</p></li></a>
                                </div>
                                <div class="col-md-6" style="padding-left: 0;">
                                    <a href="/mesaje-trimise"><li style=><p align="center" style="margin-top: 10px;">Mesaje trimise</p></li></a>
                                </div>
                            </div>
                        </ul>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 offset-md-1">
                                     <p style="color: #848484;"><b>Mesajul</b></p>
                                </div>
                                <div class="col-md-4 offset-md-5">
                                    <p style="color: #848484;"><b>Nume utilizator</b></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            {% if mesaje %}
                                {% for mesaje in mesaje %}
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p><b>{{ mesaje.title }}</b></p>
                                            <p style="color: #6C6C6C;">{{ mesaje.content }}</p>
                                        </div>
                                        <div class="col-md-2 offset-md-3">
                                            <div class="row">
                                                <span><img src="{% static "images/forward-arrow.png" %}"></span>
                                                <a href="/view-profile/{{mesaje.author.account2.slug}}"><p style="color: #848484;"><b>{{ mesaje.author }}</b></p></a>
                                            </div>
                                            <p style="color: #B4B4B4;">12/12/2017</p>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="/view-profile/{{mesaje.author.account2.slug}}"><button  class="btn btn-primary " style="border: 1px solid #B4B4B4; background-color: #1CC661;border-radius: 1px;" ><span><img src="{% static "images/speech-bubble.png" %}"></span>&nbsp Mesaje</button></a>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                                {% else %}
                                <h4 align="center">Nu ati primit nici un mesaj</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer class="footer" style="margin-top: 100px; ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5" style="margin-top: 40px;padding-left: 35px;">
                            <h2 align="left"><b>BIOsferra</b></h2>
                            <div class="path-57"></div>
                            <a href="https://dribbble.com/FagadarCezar" style="color: #FFFFFF"><p align="left" style="margin-top: 35px;">Fagadar Cezar</p></a>
                            <a href="https://github.com/temi4000" style="color: #FFFFFF"><p align="left">Temian Mihai</p></a>
                        </div>
                        <div class="col-md-6" style="margin-top: 40px;">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="path-56"></div>
                                </div>
                                <div class="col-md-5">
                                    <p align="left"><b>Pagini</b></p>
                                    {% if user.is_authenticated %}
                                        {% if user.account2.slug %}
                                            <a href="/" style="color: #FFFFFF"><p align="left">Acasa</p></a>
                                            <a href="/view-profile/{{ user.account2.slug }}" style="color: #FFFFFF"><p align="left">Profilul Tau</p></a>
                                            {% else %}
                                                <a href="/mesaje" style="color: #FFFFFF"><p align="left">Mesaje</p></a>
                                                <a href="/comenzile-mele" style="color: #FFFFFF"><p align="left">Comenzi</p></a>
                                                <a href="/favoriti" style="color: #FFFFFF"><p align="left">Favoriti</p></a>
                                        {% endif %}
                                        <a href="/cosul-meu" style="color: #FFFFFF"><p align="left">Cosul Meu</p></a>
                                        {% if user.account2.slug %}
                                            <a href="/create-post" style="color: #FFFFFF"><p align="left">Creaza o postare</p></a>
                                            {% else %}
                                            <a href="/logout" style="color: #FFFFFF"><p align="left">Deconectare</p></a>
                                        {% endif %}

                                        {% else %}
                                            <a href="/register-cumparator" style="color: #FFFFFF"><p align="left">Inregistrare</p></a>
                                            <a href="/login" style="color: #FFFFFF"><p align="left">Autentificare</p></a>
                                    {% endif %}
                                </div>
                                <div class="col-md-1">
                                    <div class="path-56"></div>
                                </div>
                                <div class="col-md-5">
                                    <p align="left"><b>Contact</b></p>
                                    <p align="left">Romania, Timis, Timisoara</p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d22269.631879759865!2d21.215498148071287!3d45.75708007361393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sro!2sro!4v1532376892664" width="auto" height="80px;" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    <p align="left">biosferra.noreplay@gmail.com</p>
                                    <p align="left">+40 733 625 927</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="col-md-12">
        <div class="rectangle-60">
            <p align="center" style="color: #1CC661;margin-top: 20px;">@ 2018 Biosferra. All rights reserved.</p>
        </div>
    </div>
</body>
</html>