<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>Biosferra</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/stylee.css" %}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static "images/brand.png" %}" />

    <style>
        .path-11 {
            box-sizing: border-box;
            width: auto;
            border: 1px solid #E5E5E5;
        }

        .path-42 {
        box-sizing: border-box;
        height: 1px;
        width: 100px;
        border: 1px solid #1CC661;
        }

        .tabel {
            width: auto;
            border: 1px solid #E5E5E5;
            border-radius: 3px;
        }

        .dropdown-item{
            color:#6C6C6C;
        }

        .dropdown-item:hover{
            color:#fff;
        }

        a {
            color:#1CC661;
        }
        .mySlides {display:none}
        .demo {cursor:pointer}
    </style>



    </head>
<body>
    <div class="navbar-box">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="/" style="margin-left: 20px;"><img src="{% static "images/brand.png" %}"></a>
        <!-- Button enables when screen size is small -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Will get collapsed -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <!-- <button class="btn my-2 my-sm-0" type="submit"><img src="Oval-8.png"></button> -->
                <input class="form-control mr-sm-2" type="search" placeholder="Cauta orice" aria-label="Search">
                <button class="btn my-2 my-sm-0" type="submit">Cauta</button>
            </form>
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <!-- Username dropdown -->
                    <li class="img"><img src="{% static "images/avatar-copy.png" %}"></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                    </a>
                    {% if user.account2.slug %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Profilul Tau</a>
                        <a class="dropdown-item" href="#">Mesaje</a>
                        <a class="dropdown-item" href="/edit-profile">Editeaza profilul</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Deconectare</a>
                    </div>
                        {% else %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Mesaje</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Deconectare</a>
                    </div>
                    {% endif %}
                    </li>

                    <!-- Cosul meu -->
                    <li class="img"><img src="{% static "images/shopping-basket.png" %}"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cosul Meu</a>
                    </li>

                    {% if user.account2.slug %}
                    <li class="nav-item" id="creeazaPostare">
                        <a href="/create-post"><button class="btn">+ Creeaza o postare</button></a>
                    </li>
                        {% else %}
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/register-vanzator"><button class="btn">Devino vanzator</button></a>
                        </li>
                    {% endif %}

                    {% else %}
                        <li class="nav-item" id="creeazaPostare" style="margin-left: 97%;">
                                <a href="/register-vanzator"><button class="btn">Devino vanzator</button></a>
                        </li>
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/register-cumparator"><button class="btn">Devino cumparator</button></a>
                        </li>

                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
    </div>
    <div class="break-line"></div>
    <br> <br>

    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3"><br>
                            <img src="{{  posts.image1.url }}" class="img-fluid demo" alt="Responsive image" style="margin-bottom: 10px;max-height: 74px;min-height: 74px; box-shadow: 0 2px 25px 0 rgba(0,0,0,0.25);" onclick="currentDiv(1)">
                            <img src="{{  posts.image2.url }}" class="img-fluid demo" alt="Responsive image" style="margin-bottom: 10px;max-height: 74px;min-height: 74px; box-shadow: 0 2px 25px 0 rgba(0,0,0,0.25);" onclick="currentDiv(2)">
                            <img src="{{  posts.image3.url }}" class="img-fluid demo" alt="Responsive image" style="margin-bottom: 10px;max-height: 74px;min-height: 74px; box-shadow: 0 2px 25px 0 rgba(0,0,0,0.25);" onclick="currentDiv(3)">
                            <img src="{{  posts.image4.url }}" class="img-fluid demo" alt="Responsive image" style="margin-bottom: 10px;max-height: 74px;min-height: 74px; box-shadow: 0 2px 25px 0 rgba(0,0,0,0.25);" onclick="currentDiv(4)">
                        </div>
                        <div class="col-md-8"><br>
                            <img src="{{  posts.image1.url }}" class="img-fluid mySlides" alt="Responsive image" style="min-height: 320px;max-height: 320px; box-shadow: 0 2px 25px 0 rgba(0,0,0,0.25);">
                            <img src="{{  posts.image2.url }}" class="img-fluid mySlides" alt="Responsive image" style="min-height: 320px;max-height: 320px; box-shadow: 0 2px 25px 0 rgba(0,0,0,0.25);">
                            <img src="{{  posts.image3.url }}" class="img-fluid mySlides" alt="Responsive image" style="min-height: 320px;max-height: 320px; box-shadow: 0 2px 25px 0 rgba(0,0,0,0.25);">
                            <img src="{{  posts.image4.url }}" class="img-fluid mySlides" alt="Responsive image" style="min-height: 320px;max-height: 320px; box-shadow: 0 2px 25px 0 rgba(0,0,0,0.25);">
                        </div>
                    </div>
                </div>

                <div class="col-md-5" style="margin-left: -25px;">
                    <h2 style="color:#4B4B4B;">{{ posts.name }}</h2>
                    <div class="path-11"></div>
                        <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tabel" style="box-shadow: 0 2px 25px 0 rgba(0,0,0,0.15);">
                                <img src="{{  profiles.image2.url }}" class="img-fluid" alt="Responsive image" style="border-radius: 50%; width: 50%; margin-left: 25%; margin-top: 5%;">
                                <a href="/view-profile/{{posts.author.account2.slug}}"><h6 align="center"><b>{{ posts.author }}</b></h6></a>
                                <hr style="margin-bottom: 5px;">
                                <h6 align="center" style="color:#4B4B4B;">{{ posts.author.account2.city }}, Jud {{ posts.author.account2.state }}</h6>
                            </div>
                            {% if posts.author != user %}
                                <a href='{{posts.get_comanda_url}}'><button class="btn btn-success" type="submit" style="border-radius: 2px; margin-top: 5px;"><span class="glyphicon glyphicon-send"></span>Comanda produs</button></a>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <div class="cumpara">
                                <h4><b>Cantitate: </b> {{ posts.cantity }} {{ posts.category }}</h4>
                                <h4><b>Pret:</b> {{ posts.price }} lei</h4>

                                {% if posts.author == user %}
                                    <a href='{{posts.get_delete_url}}' class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Delete post</a>
                                {% endif %}
                                {% if posts.author != user %}
                                    <form  method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success" name="btnform2" style="border-radius: 2px; margin-top: 5px;"><span class="glyphicon glyphicon-shopping-cart"></span>Adauga in cos</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                            {% if messages %}
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        {% for message in messages %}
                                            <p {% if message.tags == 'success' %} class="alert alert-success" {% endif %} >{{ message }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="row ">
                <div class="col-md-5">
                    <h2 style="color:#4B4B4B;">Descriere:</h2>
                    <div class="path-42"></div>
                    <br>
                    <p style="color:#4B4B4B;">{{ posts.details }}</p>
                </div>
                <div class="col-md-4 offset-md-3">
                    <div class="row">
                        <img src="{% static "images/fast-delivery.png" %}"><h5 style="margin-left: 15px; color: #00C853"><b>Livrare in 24 de ore</b></h5>
                        <h6 style="color: #B4B4B4;margin-bottom: 0;">ssadasdadasdsadasdasdasdsad</h6><br>
                        <h6 style="color: #B4B4B4;margin-bottom: 0;">ssadasdadasdsadasdasdasdsad</h6><br>
                        <h6 style="color: #B4B4B4;margin-bottom: 0;">ssadasdadasdsadasdasdasdsad</h6>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <div class="blog-comment">
                        <h2>Comentarii:</h2>
                        <div class="path-42"></div>
                        <br>
                        {% for comment in comm_parent %}
                            <ul class="comments">
                                <li class="clearfix">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
                                    <div class="post-comments">
                                        <p class="meta">Dec 18, 2014 <a href="/view-profile/{{ comment.user.account2.slug }}">{{ comment.user }}</a> spune:</p>
                                        <p>
                                            {{ comment.body }}
                                        </p>
                                    </div>
                                    {% for reply in comment.children %}
                                        <ul class="comments">
                                          <li class="clearfix">
                                              <img src="https://bootdey.com/img/Content/user_3.jpg" class="avatar" alt="">
                                              <div class="post-comments">
                                                  <p class="meta">Dec 20, 2014 <a href="/view-profile/{{ reply.user.account2.slug }}">{{ reply.user }}</a> spune:</p>
                                                  <p>
                                                      {{ reply.body }}
                                                  </p>
                                              </div>
                                          </li>
                                        </ul>
                                    {% endfor %}

                                    <form action="." method='post'>
                                        {% csrf_token %}
                                        <div class="col-md-6" style="margin-left: 85px;">
                                            <p><b>Raspundeti la comentariu:</b></p>
                                          <input type='hidden' name='parent_id' value={{comment.id}}>
                                          <input class="form-control" name="body" value="{{form.body}}" type="text" placeholder="Raspunsul dumneavoastra" />
                                          <button class="btn btn-success btn-circle text-uppercase" type="submit" name="btnform1" style="border-radius: 1px;width: 55%;background-color: #1CC661; border-color: #1CC661;"><span class="glyphicon glyphicon-send"></span> Raspundeti</button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                    <br>
                    <form action="." method='post'>
                        {% csrf_token %}
                        <div class="col-md-9">
                            <label class=" control-label"><h4>Postati un comentariu:</h4> </label>
                            <input class="form-control" name="body" value="{{form.body}}" type="text" placeholder="Comentariul dumneavoastra"/>
                            <div class="form-group">
                                <button class="btn btn-success btn-circle text-uppercase" type="submit" name="btnform1" style="border-radius: 1px;width: 50%;background-color: #1CC661; border-color: #1CC661;"><span class="glyphicon glyphicon-send"></span>Comentati</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>

    <footer class="footer">
            <div class="row">
                <div class="col-4">
                    <a href="/" style="color: #fff"><h4>BIOsferra</h4></a>
                </div>
                <div class="col-2">
                    <a href="/" style="color: #fff"><p>Acasa</p></a>
                </div>
                {% if user.account2.slug %}
                <div class="col-2">
                    <a href="/view-profile/{{ current_user.account2.slug }}" style="color: #fff"><p>Profilul tau</p></a>
                </div>
                <div class="col-2">
                    <a href="/edit-profile" style="color: #fff"><p>Editeaza profilul</p></a>
                </div>
                {% endif %}
                <div class="col-2">
                    {% if user.account2.slug %}
                   <p><a href="/create-post" style="color: #fff">Creaza o postare</p></a>
                    {% else %}
                    <p><a href="/register-vanzator" style="color: #fff">Devino vanzator</p></a>
                    {% endif %}
                </div>
            </div>
            <hr class="hr">
            <div class="row">
                <div class="col-12">
                    <p>@All rights reserverd</p>
                </div>
            </div>
    </footer>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>
</body>
</html>