<div class="row">
    {% for post in posts %}
        {% if post.approved == True %}
            <div class="col-md-4">
                <div class="card"
                     style="box-shadow: 0 2px 25px 0 rgba(0,0,0,0.15); margin-bottom: 35px;">
                    <a href="/post/{{ post.slug }}"><img class="card-img-top"
                                                         src="{{ post.image1.url }}"
                                                         alt="Card image cap"
                                                         style="max-height: 175px;min-height: 175px;"></a>
                    <div class="card-body">
                        <h6 class="card-title"><b>Anunt: <a href="/post/{{ post.slug }}">
                            {{ post.name|truncatechars:10 }}</a></b></h6>
                        <hr>
                        <h6><b>Autor: <a
                                href="/view-profile/{{ post.author.account2.slug }}">{{ post.author }}</a></b>
                        </h6>
                        <hr>
                        <h6><b>Pret: <a style="color:#1CC661; ">{{ post.price }} RON
                            / {{ post.get_um_display }}</a></b></h6>
                        <p class="card-text" style="color: #6C6C6C;">
                            {{ post.details|truncatechars:10 }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<br>