<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}
    <title>Register</title>
    <link href="{% static "style.css" %}" rel="stylesheet">

     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>

    body, html {
        height: 100%;
        margin: 0;
    }

    </style>
</head>
<body>
    <div class="bg2">
        <div class="rectangle-22">
            <div class="row">
            <div class="col"></div>
                <div class="col m6">
                    <div class="rectangle-b">
                        <div class="col s12">
                        <p class="important">Register</p>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col s6">
                                <div class="input-field" style="margin-left: 9%;margin-right:20%; margin-bottom:2%;">
                                    <input placeholder="Username"  name="username" value="{{form.body}}" type="text" class="validate">
                                    <label>Username</label>

                                    {% if form.username.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in form.username.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <input placeholder="Email"  name="email" value="{{form.body}}" type="text" class="validate">
                                    <label>Email</label>

                                    {% if form.email.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in form.email.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <input placeholder="First name" name="first_name" value="{{form.body}}" type="text" class="validate">
                                    <label>First Name</label>

                                    {% if form.first_name.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in form.first_name.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <input placeholder="Last name" name="last_name" value="{{form.body}}" type="text" class="validate">
                                    <label>Last Name</label>

                                    {% if form.last_name.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in form.last_name.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <input placeholder="Password" name="password" value="{{form.body}}" type="password" class="validate">
                                    <label>Password</label>

                                    {% if form.password.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in form.password.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <input placeholder="Retype password" name="retypepassword" value="{{form.body}}" type="password" class="validate">
                                    <label>Confirm password</label>

                                    {% if form.retypepassword.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in form.retypepassword.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>
                            </div>

                            <div class="col s6">
                                <div class="path-6">

                                </div>
                                <div class="input-field" style="margin-left: 20%;margin-right: 9%; margin-bottom:2%;">
                                    <input placeholder="Country" name="country" value="{{acc_form.body}}" type="text" class="validate">
                                    <label>Country</label>

                                    {% if acc_form.country.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in acc_form.country.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="input-field" style="margin-left: 20%;margin-right: 9%; margin-bottom:2%;">
                                    <input placeholder="City" name="city" value="{{acc_form.body}}" type="text" class="validate">
                                    <label>City</label>

                                    {% if acc_form.city.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in acc_form.city.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="input-field" style="margin-left: 20%;margin-right: 9%; margin-bottom:2%;">
                                    <input placeholder="State"  name="state" value="{{acc_form.body}}" type="text" class="validate">
                                    <label>State</label>

                                    {% if acc_form.state.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in acc_form.state.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="input-field" style="margin-left: 20%;margin-right: 9%; margin-bottom:2%;">
                                    <input placeholder="Adress" name="adress" value="{{acc_form.body}}" type="text" class="validate">
                                    <label>Adress</label>

                                    {% if acc_form.adress.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in acc_form.adress.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="input-field" style="margin-left: 20%;margin-right: 9%; margin-bottom:2%;">
                                    <input placeholder="Phone number" name="phonenumber" value="{{acc_form.body}}" type="text" class="validate">
                                    <label>Phone number</label>
                                </div>

                                {% if acc_form.phonenumber.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in acc_form.phonenumber.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                <div>
                                    <button class="but" type="submit">Register ➜</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            <div class="col m3 col s3 col l3"></div>
            </div>
        </div>
    </div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
</body>
</html>