<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}
    <title>Biosferra</title>
    <link href="{% static "style.css" %}" rel="stylesheet">

     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="shortcut icon" href="{% static "images/brand.png" %}" />
    <script type="text/javascript" src="{%  static "js/hotjar2.js" %}"></script>


    <style>
@media only screen and (max-width: 600px) {
    body {
        height: 100% !important;
    }

    body {
    {#  -webkit-background-size: cover;#}{#-moz-background-size: cover;#}{#-o-background-size: cover;#}{#background-size: cover;#}{#  height: 240%;#} background-size: auto 100%;
        background: url('/static/images/register-cump.png') no-repeat fixed left top;
    }
}

@media only screen and (min-width: 601px) {
    body, html {
        height: 100%;
        margin: 0;
        background-image: url("/static/images/register-cump.png");
        /* Full height */
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col m12">
            <div class="col m8 offset-m1" style="margin-left: 13%;">
                <div class="rectangle-b">
                    <div class="col m12">
                        <div class="col m12">
                            <p class="important">Inregistrare</p>
                        </div>
                         <div class="container">
                            <div class="col m9 offset-m2">
                                <div class="row">
                                    <div class="col m6" style="padding-right: 0px;">
                                        <a href="/register-cumparator"><button class="btn btn-success btn-circle text-uppercase" type="submit"  style="border-radius: 1px;background-color: #1CC661; border-color: #1CC661;border: 2px solid #1CC661; width: 100%;"><span class="glyphicon glyphicon-send"></span>Cumparator</button></a>
                                    </div>
                                    <div class="col m6" style="padding-left: 0px;">
                                        <a href="/register-vanzator"><button class="btn btn-success btn-circle text-uppercase" type="submit"  style="border-radius: 1px;background-color: #fff; border-color: #1CC661;border: 2px solid #1CC661; color: #4B4B4B;width: 100%"><span class="glyphicon glyphicon-send"></span>Vanzator</button></a>
                                    </div>
                                </div>
                            </div>
                         </div>
                        <br>

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col m6">
                                <div class="input-field" style=" margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Nume utilizator</label>
                                    <input placeholder="Nume utilizator"  name="username" value="{{form.username.value|default:""}}" type="text" class="validate">
                                    {% if form.username.errors %}
                                        <div class="alert alert-danger fade in" id="input-alert">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Atentie!</strong>
                                            {% for error in form.username.errors %}
                                                    {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Email</label>
                                    <input placeholder="Email"  name="email" value="{{form.email.value|default:""}}" type="text" class="validate">
                                    {% if form.email.errors %}
                                        <div class="alert alert-danger fade in" id="input-alert">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Atentie!</strong>
                                            {% for error in form.email.errors %}
                                                    {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Prenume</label>
                                    <input placeholder="Prenume" name="first_name" value="{{form.first_name.value|default:""}}" type="text" class="validate">
                                    {% if form.first_name.errors %}
                                        <div class="alert alert-danger fade in" id="input-alert">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Atentie!</strong>
                                            {% for error in form.first_name.errors %}
                                                    {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Nume</label>
                                    <input placeholder="Nume" name="last_name" value="{{form.last_name.value|default:""}}" type="text" class="validate">
                                    {% if form.last_name.errors %}
                                        <div class="alert alert-danger fade in" id="input-alert">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Atentie!</strong>
                                            {% for error in form.last_name.errors %}
                                                    {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Parola</label>
                                    <input placeholder="Parola" name="password" value="{{form.password.value|default:""}}" type="password" class="validate">
                                    {% if form.password.errors %}
                                        <div class="alert alert-danger fade in" id="input-alert">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Atentie!</strong>
                                            {% for error in form.password.errors %}
                                                    {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Confirma parola</label>
                                    <input placeholder="Confirma parola" name="retypepassword" value="{{form.retypepassword.value|default:""}}" type="password" class="validate">
                                    {% if form.retypepassword.errors %}
                                        <div class="alert alert-danger fade in" id="input-alert">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Atentie!</strong>
                                            {% for error in form.retypepassword.errors %}
                                                    {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col m6">
                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Oras</label>
                                    <input placeholder="Oras" name="city" value="{{acc_form.city.value|default:""}}" type="text" class="validate">
                                    {% if acc_form.city.errors %}
                                        <div class="alert alert-danger fade in" id="input-alert">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Atentie!</strong>
                                            {% for error in acc_form.city.errors %}
                                                    {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Judet</label>
                                    <input placeholder="Judet"  name="state" value="{{acc_form.state.value|default:""}}" type="text" class="validate">
                                    {% if acc_form.state.errors %}
                                        <div class="alert alert-danger fade in" id="input-alert">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Atentie!</strong>
                                            {% for error in acc_form.state.errors %}
                                                    {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Adresa</label>
                                    <input placeholder="Adresa" name="adress" value="{{acc_form.adress.value|default:""}}" type="text" class="validate">
                                    {% if acc_form.adress.errors %}
                                        <div class="alert alert-danger fade in" id="input-alert">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Atentie!</strong>
                                            {% for error in acc_form.adress.errors %}
                                                    {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Numar de telefon</label>
                                    <input placeholder="Numar de telefon" name="phonenumber" value="{{acc_form.phonenumber.value|default:""}}" type="text" class="validate">
                                    {% if acc_form.phonenumber.errors %}
                                        <div class="alert alert-danger fade in" id="input-alert">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Atentie!</strong>
                                            {% for error in acc_form.phonenumber.errors %}
                                                    {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div>
                                    <button class="but" type="submit">Continua ➜</button>
                                </div>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
</body>
</html>
