<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load widget_tweaks %}
    <title>Register</title>
    <link href="{% static "style.css" %}" rel="stylesheet">

     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
    body, html {
        height: 100%;
        margin: 0;
    }
    </style>
</head>
<body>
    <div class="bg2">
        <div class="rectangle-22">
            <div class="row">
                <div class="col m6">
                    <div class="rectangle-b">
                        <div class="col s12">
                        <p class="important" style="font-size: 35px;">Inregistrare</p>

                        <div class="buttons">
                            <a href="/register-cumparator"><p style="padding-left: 45px;color: #6C6C6C;"><b>Cumparator</b></p></a>
                            <a href="/register-vanzator"><div class="button1" style="height: 42px; margin-top: -17%;margin-left: 50%;"><p align="center" style="margin: 0; padding-top: 10px; color: #fff;"><b>Vanzator</b></p></div></a>
                        </div>
                        <br>

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col s6">

                                <div class="input-field" style="margin-left: 9%;margin-right:20%; margin-bottom:2%;">
                                    <label>Nume utilizator</label>
                                    <input placeholder="Nume utilizator"  name="username" value="{{form.body}}" type="text" class="validate">
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Email</label>
                                    <input placeholder="Email"  name="email" value="{{form.body}}" type="text" class="validate">
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Prenume</label>
                                    <input placeholder="Prenume" name="first_name" value="{{form.body}}" type="text" class="validate">
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Nume</label>
                                    <input placeholder="Nume" name="last_name" value="{{form.body}}" type="text" class="validate">
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Parola</label>
                                    <input placeholder="Parola" name="password" value="{{form.body}}" type="password" class="validate">
                                </div>

                                <div class="input-field" style="margin-left: 9%;margin-right: 20%; margin-bottom:2%;">
                                    <label>Confirma parola</label>
                                    <input placeholder="Confirma parola" name="retypepassword" value="{{form.body}}" type="password" class="validate">
                                </div>
                            </div>

                            <div class="col s6">
                                <div class="path-6"></div>
                                <div class="input-field" style="margin-left: 20%;margin-right: 9%; margin-bottom:2%;">
                                    <label>Oras</label>
                                    <input placeholder="Oras" name="city" value="{{acc_form.body}}" type="text" class="validate">
                                </div>

                                <div class="input-field" style="margin-left: 20%;margin-right: 9%; margin-bottom:2%;">
                                    <label>Judet</label>
                                    <input placeholder="Judet"  name="state" value="{{acc_form.body}}" type="text" class="validate">
                                </div>

                                <div class="input-field" style="margin-left: 20%;margin-right: 9%; margin-bottom:2%;">
                                    <label>Adresa</label>
                                    <input placeholder="Adresa" name="adress" value="{{acc_form.body}}" type="text" class="validate">
                                </div>

                                <div class="input-field" style="margin-left: 20%;margin-right: 9%; margin-bottom:2%;">
                                    <label>Numar de telefon</label>
                                    <input placeholder="Numar de telefon" name="phonenumber" value="{{acc_form.body}}" type="text" class="validate">
                                </div>
                                <div>
                                    <button class="but" type="submit">Continua ➜</button>
                                </div>

                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>

</body>
</html>
