<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>Biosferra</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!-- Custom css -->
        <link rel="stylesheet" type="text/css" href="{% static "css/profile_page_front.css" %}">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="{% static "images/brand.png" %}" />
        <script type="text/javascript" src="{%  static "js/hotjar2.js" %}"></script>

    </head>

    <style>
        .center {
        margin-top:50px;
    }

    .modal-header {
        padding-bottom: 5px;
    }

    .modal-footer {
            padding: 0;
        }

    .modal-footer .btn-group button {
        height:40px;
        border-top-left-radius : 0;
        border-top-right-radius : 0;
        border: none;
        border-right: 1px solid #ddd;
    }

    .modal-footer .btn-group:last-child > button {
        border-right: 0;
    }

    .dropdown-item:hover{
        color:#fff;
    }

    .dropdown-item{
        color:#6C6C6C;
    }

    .hold {
        width: 100%;
        height: 100%;
    }

    .tabel {
        border: 1px solid #E5E5E5;
    }
    a:link {
        text-decoration: none;
    }

    @media only screen and (max-width: 600px) {
        .navbar li img{
            padding-left: 5px;
            padding-top: 7px;
        }
    }

    @media only screen and (min-width: 601px) {
        .navbar  li img{
            padding-left: 50px;
            padding-top: 7px;
        }
    }

    .path-44 {
        box-sizing: border-box;
        height: 1px;
        width: 150px;
        border: 1px solid #1CC661;
    }
    </style>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container"  style="padding-left: 1%">
            <div class="navbar-brand" style="margin-right: 10rem;margin-left: 35px;">
            <div class="row" style="flex-wrap: nowrap;">
                <a  href="/"><img src="{% static "images/logo_full.png" %}"></a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="row" style="flex-wrap: nowrap;">
                {% if user.is_authenticated %}
                    <li class="img"><img src="{% static "images/avatar-copy.png" %}"></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        {% if user.account2.slug %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Profilul Tau</a>
                                <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}/comenzi-primite">Comenzi</a>
                                <a class="dropdown-item" href="/view-profile/{{ user.account2.slug }}">Mesaje</a>
                                <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Deconectare</a>
                            </div>
                            {% else %}
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/mesaje">Mesaje</a>
                                    <a class="dropdown-item" href="/comenzile-mele">Comenzi</a>
                                    <a class="dropdown-item" href="/favoriti">Favoriti</a>
                                    <a class="dropdown-item" href="/edit-profile-buyer">Editeaza profilul</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Deconectare</a>
                                </div>
                        {% endif %}
                    </li>
                    <li class="img"><img src="{% static "images/shopping-basket.png" %}"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cosul-meu">Cosul Meu</a>
                    </li>
                    {% if user.account2.slug %}
                    <li class="nav-item" id="creeazaPostare">
                        <a href="/create-post"><button class="btn" style="border-radius: 1px;">+ Creaza o postare</button></a>
                    </li>
                        {% else %}
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/logout"><button class="btn" style="border-radius: 1px;width: 180px;">Deconectare</button></a>
                        </li>
                    {% endif %}
                    {% else %}
                        <li class="nav-item" id="creeazaPostare" style="margin-left: 65%;">
                            <a href="/register-cumparator"><button class="btn" style="border-radius: 1px;">Inregistreaza-te!</button></a>
                        </li>
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/login"><button class="btn" style="border-radius: 1px;width: 150px;">Autentificare</button></a>
                        </li>
                {% endif %}
                </div>
            </ul>
        </div>
    </div>
</nav>
{% for p in profiles %}
    <div class="break-line"></div>
        <div class="content">
        <div class="container" style="padding-top: 5%; padding-left: 0;">
            <div class="row">
                <div class="col-md-4" style="padding: 5%; padding-top: 10px;">
                    <div class="profile" style="box-shadow: 0 2px 25px 0 rgba(0,0,0,0.15);">
                        <div class="upper-side">
                            <div class="profile-image">
                                <img src="{{  p.profile_image.url }}" class="img-fluid" alt="Responsive image" style="border-radius: 50%;max-height: 110px;min-height: 110px;">
                            </div>
                            <h5>{{ user2.user.username }}</h5>
                            {% if user != user2.user %}
                                {% else %}
                                    <a href="/edit-profile"><button class="btn btn-primary " style="border: 1px solid #B4B4B4; background-color: #fff;border-radius: 1px;color: #B4B4B4;" >&nbsp Editeaza profilul</button></a>
                            {% endif %}
                            <div class="break"></div>
                        </div>
                        <div class="lower-side">
                            <div> <img src=""> <p style="color: #6C6C6C;">{{ user2.city }}, Jud. {{ user2.state }}</p> </div>
                            <hr style="margin-right: 25px;">
                            <div>  <p style="color: #6C6C6C;">Nume: {{ user2.user.first_name }}</p> </div>
                            <br>
                            <div>  <p style="color: #6C6C6C;">Prenume: {{ user2.user.last_name }}</p> </div>
                            <br>
                        </div>
                    </div>

                    <div class="descriere" style="box-shadow: 0 2px 25px 0 rgba(0,0,0,0.15); margin-bottom: 30px;">
                        <p style="font-size: 18px;color: #6C6C6C;"><b>Descriere</b></p>
                        <p style="color: #6C6C6C;">{{ p.description }}</p>
                        <div class="break"></div> <br>
                    </div>

                    <div class="gradina" style="box-shadow: 0 2px 25px 0 rgba(0,0,0,0.15);">
                        <p style="color: #6C6C6C;"><b>Gradina utilizatorului</b></p>
                        <div class="items">
                            <ul>
                                <li>{{p.product1}}</li>
                                <li>{{ p.product2 }}</li>
                                <li>{{ p.product3 }}</li>
                                <li>{{ p.product4 }}</li>
                                <li>{{ p.product5 }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" style="padding: 5%; padding-top: 10px;">
                    <div class="row" id="up-side">
                        <div class="col-md-12">
                            <img src="{{  p.cover_image.url }}" class="img-fluid" alt="Responsive image" style="height: 245px; width: 100%;box-shadow: 0 2px 25px 0 rgba(0,0,0,0.15);">
                        </div>
                        {% if messages %}
                            <div class="col-md-12">
                                {% for message in messages %}
                                    <br>
                                    <p {% if message.tags == 'success' %} class="alert alert-success" {% endif %} >{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <br>
                        {% if user != user2.user %}
                            <div class="col-md-12">
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if favoritt %}
                                            <form  method="POST" enctype="multipart/form-data">
                                               {% csrf_token %}
                                                <button type="submit" value="{{ form3.body }}" class="btn btn-primary active" name="btnform3" style="border-radius: 1px;background-color: #E53046;border-color: #E53046;"><span><img src="{% static "images/favorite.png" %}">&nbsp Nu mai urmari</span>
                                            </form>
                                            {% else %}
                                            <form  method="POST" enctype="multipart/form-data">
                                               {% csrf_token %}
                                                <button type="submit" value="{{ form3.body }}" class="btn btn-primary active" name="btnform3" style="border-radius: 1px;background-color: #E53046;border-color: #E53046;"><span><img src="{% static "images/favorite.png" %}">&nbsp Adauga la favorit</span>
                                            </form>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4 offset-md-4">
                                        <button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary " style="border: 2px solid #1CC661; background-color: #fff;border-radius: 1px;color: #1CC661;" ><span><img src="{% static "images/speech-bubble.png" %}"></span>&nbsp Trimite mesaj privat</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                            <br>
                        {% if user == user2.user %}
                            <div class="col-md-12">
                                <hr>
                                <h2>Management:</h2>
                                <div class="path-44"></div>
                                <br>
                                <div class="tabel">
                                    <div class="row">
                                        <div class="col-md-4" style="padding-right: 0;">
                                            <a href="/view-profile/{{user.account2.slug}}"><button  class="btn btn-primary " style="color: #fff; background-color: #1CC661; border: 1px solid #B4B4B4;border-radius: 0px;width: 100%;" >Mesaje</button></a>
                                        </div>
                                        <div class="col-md-4" style="padding-right: 0;padding-left: 0;">
                                            <a href="/view-profile/{{user.account2.slug}}/comenzi-primite"><button  class="btn btn-primary " style="color: #6C6C6C; background-color: #fff; border: 1px solid #B4B4B4;border-radius: 0px; width: 100%;" >Comenzi primite</button></a>
                                        </div>
                                        <div class="col-md-4" style="padding-left: 0;">
                                            <a href="/view-profile/{{user.account2.slug}}/comenzi-trimise"><button  class="btn btn-primary " style="color: #6C6C6C; background-color: #fff; border: 1px solid #B4B4B4;border-radius: 0px; width: 100%;" >Comenzi plasate</button></a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6" style="padding-right: 0;"><a href="/view-profile/{{user.account2.slug}}"><button  class="btn btn-primary " style="color: #6C6C6C; background-color: #fff; border: 1px solid #B4B4B4;border-radius: 0px;width: 100%;" >Mesaje primite</button></a></div>
                                        <div class="col-md-6" style="padding-left: 0;"><a href="/view-profile/{{user.account2.slug}}/mesaje-trimise"><button  class="btn btn-primary " style="color: #fff; background-color: #1CC661; border: 1px solid #B4B4B4;border-radius: 0px; width:100%;" >Mesaje trimise</button></a></div>
                                    </div>
                                    <br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-2 offset-md-1">
                                                 <p style="color: #848484;"><b>Mesajul</b></p>
                                            </div>
                                            <div class="col-md-4 offset-md-5">
                                                <p style="color: #848484;"><b>Nume utilizator</b></p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="col-md-12">
                                            {% if mesaje %}
                                                {% for mesaje in mesaje %}
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <p><b>{{ mesaje.title }}</b></p>
                                                            <p style="color: #6C6C6C;">{{ mesaje.content }}</p>
                                                        </div>
                                                        <div class="col-md-3 offset-md-2">
                                                            <div class="row">
                                                                <span><img src="{% static "images/forward-arrow.png" %}"></span>
                                                                {% if mesaje.destinatar.account2 %}
                                                                    <a href="/view-profile/{{mesaje.receiver.account2.slug}}"><p style="color: #848484;"><b>{{ mesaje.receiver }}</b></p></a>
                                                                    {% else %}
                                                                    <a href="/trimite-mesaje/{{mesaje.receiver.account.slug}}"><p style="color: #848484;"><b>{{ mesaje.receiver }}</b></p></a>
                                                                {% endif %}
                                                            </div>
                                                            <p style="color: #B4B4B4;">{{ mesaje.created_date }}</p>
                                                        </div>
                                                        <div class="col-md-2">
                                                            {% if mesaje.destinatar.account %}
                                                                <a href="/trimite-mesaje/{{mesaje.destinatar.account.slug}}"><button  class="btn btn-primary"  style="border: 1px solid #B4B4B4; background-color: #1CC661;border-radius: 1px;" ><span><img src="{% static "images/speech-bubble.png" %}"></span>&nbsp Mesaje</button></a>
                                                                {% else %}
                                                                    <a href="/view-profile/{{mesaje.destinatar.account2.slug}}"><button  class="btn btn-primary"  style="border: 1px solid #B4B4B4; background-color: #1CC661;border-radius: 1px;" ><span><img src="{% static "images/speech-bubble.png" %}"></span>&nbsp Mesaje</button></a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <hr>
                                                {% endfor %}
                                                {% else %}
                                                <h4 align="center">Nu ati trimis nici un mesaj</h4>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-md-12" >
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 style="color: #4B4B4B;"><b>Anunturile producatorului</b></h4>
                                    <div class="path-44"></div>
                                </div>
                                <div class="col-md-6">
                                    <form class="cauta-anunt" method="GET" action="">
                                        <input  id="cauta-anunt"  name="q" type="text" placeholder="Cauta anunturi" value='{{ request.GET.q }}'>
                                        <button>Cauta</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="card-deck">
                            {% for post in anunturi %}
                                {% if user2.user == post.author %}
                                    <div class="col-md-6">
                                        <div class="card" style="box-shadow: 0 2px 25px 0 rgba(0,0,0,0.15); margin-bottom: 30px;">
                                            <a href="/post/{{post.slug}}"><img class="card-img-top" src="{{  post.image1.url }}" alt="Card image cap" style="max-height: 175px;min-height: 175px;"></a>
                                            <div class="card-body">
                                                <h5 class="card-title"><b>Anunt: <a href="/post/{{post.slug}}">{{ post.name|truncatechars:10 }}</a></b></h5>
                                                <hr>
                                                <h6><b>Autor: <a href="/view-profile/{{post.author.account2.slug}}">{{ post.author }}</a></b></h6>
                                                <hr>
                                                <h6><b>Pret: <a>{{ post.price }} RON / {{post.get_um_display }}</a></b></h6>
                                                <p class="card-text" style="color: #6C6C6C">{{ post.details|truncatechars:10 }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

         <br>

        <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"  style="display: initial;padding-bottom: 20px;">
                        <h3 class="modal-title" id="lineModalLabel"><b>Scrie un mesaj </b></h3>
                        <div class="path-44"></div>
                    </div>
                    <div class="modal-body">

                       <form  method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                           <div class="form-group">
                                <label for="titlu-field">Titlu:</label>
                                <input name="titlu" value="{{form.body}}" type="text" placeholder="Subiectul" id="titlu-field" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label for="titlu-field">Mesaj:</label>
                                <input name="mesaj" value="{{form.body}}" type="text" placeholder="Mesajul dumneavoastra" id="titlu-field" class="form-control"/>
                            </div>
                            <button class="btn btn-success" type="submit" style="border-radius: 0px; margin-top: 5px; width: 150px;" name="btnform1">Trimite mesaj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}

        <div class="modal fade" id="squarespaceModal2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"  style="display: initial;padding-bottom: 20px;">
                        <h3 class="modal-title" id="lineModalLabel"><b>Spune-ne ce s-a intamplat</b></h3>
                        <div class="path-44"></div>
                    </div>
                    <div class="modal-body">

                       <form  method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                           <div class="form-group">
                                <label for="titlu-field">Titlu:</label>
                                <input name="titluu" value="{{form2.body}}" type="text" placeholder="Subiectul" id="titlu-field" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label for="titlu-field">Ce s-a intamplat:</label>
                                <input name="mesajj" value="{{form2.body}}" type="text" placeholder="Mesajul dumneavoastra" id="titlu-field" class="form-control"/>
                            </div>
                            <button class="btn btn-success" type="submit" style="border-radius: 0px; margin-top: 5px; width: 150px;" name="btnform2">Raporteaza</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5" style="margin-top: 40px;padding-left: 35px;">
                            <h2 align="left"><b>BIOsferra</b></h2>
                            <div class="path-57"></div>
                            <a href="https://dribbble.com/FagadarCezar" style="color: #FFFFFF"><p align="left" style="margin-top: 35px;">Fagadar Cezar</p></a>
                            <a href="https://github.com/temi4000" style="color: #FFFFFF"><p align="left">Temian Mihai</p></a>
                        </div>
                        <div class="col-md-6" style="margin-top: 40px;">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="path-56"></div>
                                </div>
                                <div class="col-md-5">
                                    <p align="left"><b>Pagini</b></p>
                                    {% if user.is_authenticated %}
                                        {% if user.account2.slug %}
                                            <a href="/" style="color: #FFFFFF"><p align="left">Acasa</p></a>
                                            <a href="/view-profile/{{ user.account2.slug }}" style="color: #FFFFFF"><p align="left">Profilul Tau</p></a>
                                            {% else %}
                                                <a href="/mesaje" style="color: #FFFFFF"><p align="left">Mesaje</p></a>
                                                <a href="/comenzile-mele" style="color: #FFFFFF"><p align="left">Comenzi</p></a>
                                                <a href="/favoriti" style="color: #FFFFFF"><p align="left">Favoriti</p></a>
                                        {% endif %}
                                        <a href="/cosul-meu" style="color: #FFFFFF"><p align="left">Cosul Meu</p></a>
                                        {% if user.account2.slug %}
                                            <a href="/create-post" style="color: #FFFFFF"><p align="left">Creaza o postare</p></a>
                                            {% else %}
                                            <a href="/logout" style="color: #FFFFFF"><p align="left">Deconectare</p></a>
                                        {% endif %}

                                        {% else %}
                                            <a href="/register-cumparator" style="color: #FFFFFF"><p align="left">Inregistrare</p></a>
                                            <a href="/login" style="color: #FFFFFF"><p align="left">Autentificare</p></a>
                                    {% endif %}
                                </div>
                                <div class="col-md-1">
                                    <div class="path-56"></div>
                                </div>
                                <div class="col-md-5">
                                    <p align="left"><b>Contact</b></p>
                                    <p align="left">Romania, Timis, Timisoara</p>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d22269.631879759865!2d21.215498148071287!3d45.75708007361393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sro!2sro!4v1532376892664" width="auto" height="80px;" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    <p align="left">biosferra.noreplay@gmail.com</p>
                                    <p align="left">+40 733 625 927</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="col-md-12">
        <div class="rectangle-60">
            <p align="center" style="color: #1CC661;margin-top: 20px;">@ 2018 Biosferra. All rights reserved.</p>
        </div>
    </div>
</body>
</html>