<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>Biosferra</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!-- Custom css -->
        <link rel="stylesheet" type="text/css" href="{% static "css/profile_page_front.css" %}">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="{% static "images/brand.png" %}" />
    </head>

    <style>
        .center {
        margin-top:50px;
    }

    .modal-header {
        padding-bottom: 5px;
    }

    .modal-footer {
            padding: 0;
        }

    .modal-footer .btn-group button {
        height:40px;
        border-top-left-radius : 0;
        border-top-right-radius : 0;
        border: none;
        border-right: 1px solid #ddd;
    }

    .modal-footer .btn-group:last-child > button {
        border-right: 0;
    }
    </style>

<body>
    <div class="navbar-box">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="/"><img src= "{% static "images/brand.png" %}"></a>
        <!-- Button enables when screen size is small -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Will get collapsed -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <!-- <button class="btn my-2 my-sm-0" type="submit"><img src="Oval-8.png"></button> -->
                <input class="form-control mr-sm-2" type="search" placeholder="Cauta orice" aria-label="Search">
                <button class="btn my-2 my-sm-0" type="submit">Cauta</button>
            </form>
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <!-- Username dropdown -->
                    <li class="img"><img src="{% static "images/avatar-copy.png" %}"></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                    </a>
                     {% if user.account2.slug %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/view-profile/{{current_user.account2.slug }}">Profilul Tau</a>
                        <a class="dropdown-item" href="#">Mesaje</a>
                        <a class="dropdown-item" href="/edit-profile">Editeaza profilul</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Deconectare</a>
                    </div>
                        {% else %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Mesaje</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Deconectare</a>
                    </div>
                    {% endif %}
                    </li>

                    <!-- Cosul meu -->
                    <li class="img"><img src="{% static "images/shopping-basket.png" %}"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cosul Meu</a>
                    </li>

                    {% if user.account2.slug %}
                    <li class="nav-item" id="creeazaPostare">
                        <a href="/create-post"><button class="btn">+ Creeaza o postare</button></a>
                    </li>
                        {% else %}
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/register-vanzator"><button class="btn">Devino vanzator</button></a>
                        </li>
                    {% endif %}

                    {% else %}
                        <li class="nav-item" id="creeazaPostare" style="margin-left: 97%;">
                                <a href="/register-vanzator"><button class="btn">Devino vanzator</button></a>
                        </li>
                        <li class="nav-item" id="creeazaPostare">
                            <a href="/register-cumparator"><button class="btn">Devino cumparator</button></a>
                        </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
{% for p in profiles %}
    <div class="break-line"></div>
        <div class="content">
        <div class="container" style="padding-top: 5%; padding-left: 0;">
            <div class="row">
                <div class="col-md-4" style="padding: 5%; padding-top: 10px;">
                    <div class="profile">
                        <div class="upper-side">
                            <div class="profile-image">
                                <img src="{{  p.image2.url }}" class="img-fluid" alt="Responsive image">
                            </div>
                            <h5>{{ user2.user.username }}</h5>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                &nbsp;&nbsp;&nbsp;3
                            </div>
                            <div class="break"></div>
                        </div>
                        <div class="lower-side">
                            <div> <img src=""> <p>{{ user2.city }}, Jud. {{ user2.state }}</p> </div>
                        </div>
                        <hr>
                        <div class="lower-side" style="display: inline-flex;">
                            <div> <img src=""> <p>In concediu</p>
                                <input type="checkbox" name="">
                            </div>
                        </div>
                    </div>

                    <div class="side-menu">
                        <div>
                            <button class="side-menu-button-selected">Management</button>
                        </div>
                        <div>
                            <button class="side-menu-button">Anunturile tale</button>
                        </div>
                        <div>
                            <button class="side-menu-button">Recenzi</button>
                        </div>
                        <div>
                            <button class="side-menu-button">Despre</button>
                        </div>
                    </div>

                    <div class="gradina">
                        <p>Gradina utilizatorului</p>
                        <div class="items">
                            <ul>
                                <li>{{p.produs1}}</li>
                                <li>{{ p.produs2 }}</li>
                                <li>{{ p.produs3 }}</li>
                                <li>{{ p.produs4 }}</li>
                                <li>{{ p.produs5 }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="descriere">
                        <p style="font-size: 18px;"><b>Descriere</b></p>
                        <p>{{ p.descriere }}</p>
                        <div class="break"></div> <br>
                        <p style="font-size: 18px;">Alte conturi</p>
                        <p style="color: #6FC564; font-size: 18px;"><i class="fa fa-facebook-official"></i>&nbsp;&nbsp;&nbsp;{{ profile.link }}</p>
                    </div>
                </div>
                <div class="col-md-8" style="padding: 5%; padding-top: 10px;">
                    <div class="row" id="up-side">
                        <div>
                            <img src="{{  p.image1.url }}" class="img-fluid" alt="Responsive image" style="height: 100px">
                        </div>
                        <div class="container">
                            {% if messages %}
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        {% for message in messages %}
                                            <p {% if message.tags == 'success' %} class="alert alert-success" {% endif %} >{{ message }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <button data-toggle="modal" data-target="#squarespaceModal2" class="btn btn-primary " style="border-radius: 2px; background-color: #E53046;">&nbsp Raporteaza!</button>
                        <button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary " style="border: 1px solid #B4B4B4; background-color: #cccccc" ><span><img src="{% static "images/speech-bubble.png" %}"></span>&nbsp Mesaj privat</button>
                       <form  method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                                    <input type="submit" value="{{ form3.body }}" class="btn btn-primary active">
                       </form>
                        <br> <br>
                        <hr>
                        <div>
                            <h1 id="Anunturile">Anunturile producatorului</h1>
                            <form class="cauta-anunt" method="GET" action="">
                                <input  id="cauta-anunt"  name="q" type="text" placeholder="Cauta anunturi" value='{{ request.GET.q }}'>
                                <button>Cauta</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-deck">
                            {% for post in anunturi %}
                                {% if user2.user == post.author %}
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="{{  post.image1.url }}" alt="Card image cap">
                                        <div class="card-body">
                                            <a href="/view-profile/{{post.author.account2.slug}}"><h5 class="card-title"><b>{{ post.author }}</b></h5></a>
                                            <hr>
                                            <h5><b>{{ post.name }}</b></h5>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            (8)
                                            <hr>
                                            <p class="card-text card-price">{{ post.price }} lei / {{ post.category }}</p>
                                            <p class="card-text">{{ post.details|truncatechars:50 }}</p>
                                            <hr>
                                            <div style="display: inline-block;">
                                                <a href="/post/{{post.slug}}" class="btn btn-default">Vezi produsul</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

         <br>

        <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="lineModalLabel"><b>Scrie un mesaj </b></h3>
                    </div>
                    <div class="modal-body">

                       <form  method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                           <div class="form-group">
                                <label for="titlu-field">Titlu:</label>
                                <input name="titlu" value="{{form.body}}" type="text" placeholder="Subiectul" id="titlu-field" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label for="titlu-field">Mesaj:</label>
                                <input name="mesaj" value="{{form.body}}" type="text" placeholder="Mesajul dumneavoastra" id="titlu-field" class="form-control"/>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}

        <div class="modal fade" id="squarespaceModal2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="lineModalLabel"><b>Spune-ne ce s-a intamplat</b></h3>
                    </div>
                    <div class="modal-body">

                       <form  method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                           <div class="form-group">
                                <label for="titlu-field">Titlu:</label>
                                <input name="titluu" value="{{form2.body}}" type="text" placeholder="Subiectul" id="titlu-field" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label for="titlu-field">Ce s-a intamplat:</label>
                                <input name="mesajj" value="{{form2.body}}" type="text" placeholder="Mesajul dumneavoastra" id="titlu-field" class="form-control"/>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
                <div class="row">
                    <div class="col-4">
                        <a href="/" style="color: #fff"><h4>BIOsferra</h4></a>
                    </div>
                    <div class="col-2">
                        <a href="/" style="color: #fff"><p>Acasa</p></a>
                    </div>
                    {% if user.account2.slug %}
                    <div class="col-2">
                        <a href="/view-profile/{{ current_user.account2.slug }}" style="color: #fff"><p>Profilul tau</p></a>
                    </div>
                    <div class="col-2">
                        <a href="/edit-profile" style="color: #fff"><p>Editeaza profilul</p></a>
                    </div>
                    {% endif %}
                    <div class="col-2">
                        {% if user.account2.slug %}
                       <p><a href="/create-post" style="color: #fff">Creaza o postare</p></a>
                        {% else %}
                        <p><a href="/register-vanzator" style="color: #fff">Devino vanzator</p></a>
                        {% endif %}
                    </div>
                </div>
                <hr class="hr">
                <div class="row">
                    <div class="col-12">
                        <p>@All rights reserverd</p>
                    </div>
                </div>
        </footer>

</body>
</html>