.rectangle-2 {
	height: 100%;
	width: 100%;
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #70C664 200%);
}

.rectangle-22 {
	height: 100%;
	width: 100%;
	border: 1px solid #979797;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #70C664 400%);

}

.rectangle-23 {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #70C664 300%);

}

.bg {
    background-image: url("images/login-background.png");
    height: 100%;
    opacity: 0.80;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    /* The image used */
    background-image: url("images/Group 2.png");
    /* Full height */
    height: 100%;
    opacity: 0.80;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    background-image: url("images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg4 {
    background-image: url("images/landing photo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rectangle {
    height: 72%;
    width: 30%;
    position: absolute;
    margin-top: 6%;
    border-radius: 7px;
    background-color: #FFFFFF;
    background-position: center;
    box-shadow: 0 22px 54px 0 rgba(0,0,0,0.5);
 }

.rectangle-b {
    height: 90%;
    width: 60%;
    position: absolute;
    margin-top: 2%;
    margin-left: 17%;
    border-radius: 7px;
    background-color: #FFFFFF;
    background-position: center;
    box-shadow: 0 22px 54px 0 rgba(0,0,0,0.5);
 }

.join {

    border: 2px solid #6FC564;
    border-radius: 5px;
}

.it-s-time-to-get-hea {
    color: #FFFFFF;
    margin-top: 15%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 54px;
    font-style: italic;
    font-weight: 600;
    line-height: 81px;
}

.this-website-is-ment {
    color: #FFFFFF;
    padding-right: 13%;
    margin-top: -7%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 24px;
    line-height: 38px;
    text-align: justify;
}

.shop-now {
    height: 6%;
    width: 25%;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.5);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
}

p.important {
	height: 43px;
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 35px;
	font-weight: 600;
	line-height: 42px;
	text-align: center;
}

p.already-don-t-have-a {
	height: 21px;
	color: #6C6C6C;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 15px;
	line-height: 21px;
	text-align: center;
}

p.forgot-password {
	height: 14px;
	color: #6C6C6C;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 14px;
    margin-top: 4%;
	line-height: 19px;
	text-align: center;
}

a{
    text-decoration: none;
    color: #6FC564;
}

.but{
    height: 40px;
    width: 150px;
    margin-left: 53%;
    margin-top: 2%;
    border-color:#6FC564;
    border-radius: 24px;
    color: #fff;
    background-color: #6FC564;
}

.butt{
    height: 40px;
    width: 150px;
    margin-top: 3%;
    margin-left: 32%;
    border-color:#6FC564;
    border-radius: 24px;
    color: #fff;
    background-color: #6FC564;
}

.buttt{
    height: 35px;
    width: 80px;
    border: 2px solid #6FC564;
    border-radius: 100px;
    background-color: #fff;
}

.path-6 {
    border-left: 2px solid #6FC564;
    height: 71%;
    position: absolute;
    margin-top: 1px;
    left: 50%;
}

.path-12 {
    box-sizing: border-box;
    height: 1px;
    width: 120px;
    border: 1px solid #6FC564;
}

.las {
    box-sizing: border-box;
    border: 1px solid #979797;
}

.filtre{
    margin-left: 5%;
    margin-top: 2%;
	height: 200px;
	width: 220px;
	border: 2px solid #DCDCDC;
	border-radius: 2px;
}

.filtre2{
    margin-left: 5%;
    margin-top: 2%;
	height: 230px;
	width: 220px;
	border: 2px solid #DCDCDC;
	border-radius: 2px;
}

.liniee {
	box-sizing: border-box;
	height: 2px;
    margin-left: -11%;
	width: 111%;
	border: 1px solid #E5E5E5;
}

.anunt {
	height: 380px;
	width: 270px;
	border: 1px solid #6FC564;
	border-radius: 3px;
}