.content {
    padding-top: 1rem;
}

.content h1 {
    color: #4B4B4B;
    font-size: 34px;
    font-weight: bold;
}

label {
    color: #4B4B4B;
    font-size: 24px;
    font-weight: 500;
}

/*****************************************/
/* Navbar CSS Classes */
.navbar-box {     
    background-color: #FFFFFF;  
    /* box-shadow: 0 2px 25px 0 rgba(0,0,0,0.15); */
    align-items: center;
}

.navbar {
    padding: 10px;
    color: #FFFFFF;
    box-shadow: 0 2px 25px 0 rgba(0,0,0,0.2);
}

.navbar .nav-item {
    padding: 0 50px 0 0;
}

.navbar li img {
    padding-top: 7px;
    padding-left: 50px;
}

.navbar .btn {
    height: 100%;

    color: white;
    background-color: #1CC661;
}

.dropdown-item:hover {
    background-color: #1CC661;
}

.pseudo-nav .row .col-sm{
    padding-left: 0;
    padding-right: 0;
}

.break-line {
    box-sizing: border-box;
    height: 2px;
    width: 100%;
    border: 1px solid #E5E5E5;
}

.tab-button {
    height: 45px;
    text-align: center;
    padding: 8px;
    border-left: 1px solid #E5E5E5;
}

.tab-button-active {
    color: #6FC564;
    border-bottom: 5px solid #6FC564
}

.tab-button-bot {
    box-sizing: border-box;
    height: 1px;
    width: 100%;
    border: 4px solid #6FC564;
}

.tab-button a {
    text-decoration: none;
    color: inherit;
}

.footer  {
    background-color: #1D1D1D;
    margin: auto;
    width: 100%;
    text-align: center;
    color: white;
    padding: 1rem;
    height: 300px;
}

.rectangle-60 {
	height: 30px;
	width: 100%;
	background-color: #FFFFFF;
}

.footer  .col-2 {
    padding: 0.5rem;
}

.path-57 {
	box-sizing: border-box;
	height: 2px;
	width: 200px;
	border: 1px solid #FFFFFF;
    margin-top: 30px;
}

.path-56 {
	box-sizing: border-box;
	height: 220px;
	width: 2px;
	border: 1px solid #FFFFFF;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

body {
    height: 100%;
}